<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Coupon">
        <id column="coupon_id" property="coupon_id" />
        <result column="category_id" property="category_id" />
        <result column="coupon_name" property="coupon_name" />
        <result column="start_time" property="start_time" />
        <result column="end_time" property="end_time" />
        <result column="coupon_money" property="coupon_money" />
        <result column="coupon_status" property="coupon_status" />
        <result column="coupon_remarks" property="coupon_remarks" />
        <result column="full_money" property="full_money" />
        <result column="coupon_count" property="coupon_count" />
        <result column="coupon_scope" property="coupon_scope" />
        <result column="coupon_limit" property="coupon_limit" />
        <result column="standby1" property="standby1" />
        <result column="standby2" property="standby2" />
    </resultMap>

</mapper>
