<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.EvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Evaluate">
        <id column="evaluate_id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="evaluate_content" property="content" />
        <result column="evaluate_star" property="star" />
        <result column="evaluate_imgs" property="imgs" />
        <result column="evaluate_time" property="time" />
    </resultMap>

</mapper>
