<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.GiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Gift">
        <id column="gift_id" property="gift_id" />
        <result column="gift_name" property="gift_name" />
        <result column="create_time" property="create_time" />
        <result column="end_time" property="end_time" />
        <result column="standby1" property="standby1" />
        <result column="standby2" property="standby2" />
    </resultMap>

</mapper>
