<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Growup_detailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.GrowupDetail">
        <id column="gdetail_id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="growup_id" property="growupId" />
        <result column="user_id" property="userId" />
        <result column="gdetail_time" property="time" />
    </resultMap>

    <insert id="saveGrowupdetail">
        INSERT INTO   `growup_detail`(`growup_id`,`user_id`,`type_id`) VALUES
        ((SELECT  `growup_id` FROM `growup` WHERE `user_id`=#{userId}),#{userId},(SELECT  `type_id` FROM  `growup_type` WHERE  `type_name`=#{typeName}))
    </insert>










</mapper>



