<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Orders">
        <id column="order_id" property="id" />
        <result column="address_id" property="addressId" />
        <result column="pay_date" property="payDate" />
        <result column="order_time" property="orderTime" />
        <result column="order_total" property="total" />
        <result column="order_status" property="status" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>
