<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.ScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Score">
        <id column="score_id" property="id" />
        <result column="user_id" property="userId" />
        <result column="score_sum" property="scores" />
    </resultMap>
    <!--修改用户积分-->
    <update id="updateScoreSum">
        UPDATE  `score` SET `score_sum`=`score_sum`+(SELECT  `scoreType_value` FROM  `score_type`
                                                     WHERE  `scoreType_name`=#{typeName})
        WHERE `user_id`=#{userId}
    </update>
    <!--修改购物时的积分-->
    <update id="updateCartScoreSum">
        UPDATE  `score` SET `score_sum`=score_sum+#{score_sum}
        WHERE `user_id`=#{userId}
    </update>


    <update id="consumeScore">
        UPDATE  score  SET  `score_sum`=0  WHERE   `user_id`=#{userId}
    </update>

</mapper>
