<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Score_detailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Score_detail">
        <id column="sdetail_id" property="id" />
        <result column="score_id" property="scoreId" />
        <result column="user_id" property="userId" />
        <result column="scoreType_id" property="scoreTypeId" />
        <result column="get_time" property="getTime" />
    </resultMap>

</mapper>
