<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Score_typeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Score_type">
        <id column="scoreType_id" property="id" />
        <result column="scoreType_name" property="typeName" />
        <result column="scoreType_value" property="value" />
    </resultMap>

</mapper>
