<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Score_detailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.ScoreDetail">
        <id column="sdetail_id" property="id" />
        <result column="score_id" property="scoreId" />
        <result column="user_id" property="userId" />
        <result column="scoreType_id" property="scoreTypeId" />
        <result column="get_time" property="getTime" />
    </resultMap>
       <!--新增积分-->
      <insert id="saveScoreDetail">
          INSERT INTO  `score_detail`(score_id,`user_id`,`scoreType_id`,get_time)
          VALUES
          (
              (SELECT  `score_id` FROM  `score` WHERE `user_id`=#{userId}),#{userId},
               (SELECT  scoreType_id FROM  `score_type` WHERE  `scoreType_name`=#{typeName})
              ,#{time}
          )
      </insert>
</mapper>
