<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.SeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Seckill">
        <id column="seckill_id" property="seckill_id" />
        <result column="goods_id" property="goods_id" />
        <result column="seckil_number" property="seckil_number" />
        <result column="start_time" property="start_time" />
        <result column="end_time" property="end_time" />
        <result column="create_time" property="create_time" />
        <result column="standby1" property="standby1" />
        <result column="standby2" property="standby2" />
    </resultMap>

</mapper>
