<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>数码相机报价,数码相机价格表【大全、品牌、行情、正品行货】-国美</title>
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="description" content="国美销售数码相机,并为你购买数码相机提供最新数码相机报价、数码相机价格、价格表、促销、参数、评价、排行、图片等选购信息.有国美，生活美！">
    <meta name="Keywords" content="数码相机报价,数码相机价格表,数码相机报价大全,数码相机品牌">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta http-equiv="mobile-agent" content="format=html5; url=//m.gome.com.cn/category-cat10000144.html">
    <link rel="canonical" href="https://list.gome.com.cn/cat10000144.html">
    <link rel="alternate" media="only screen and(max-width:640px)"
          href="https://m.gome.com.cn/category-cat10000144.html">

    <link rel="stylesheet" href='css/201909161807cssndetailgCity.min..css'>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script src='js/201909161809gmlibunitcart1.0.0ad.js'></script>
    <!--<script src="js/category.js"></script>-->
    <script src="js/category.bundle.js"></script>


</head>
<body data-page="list">
<!--<div id="delscript">
    <script type="text/javascript">
        var winWidth = window.screen.width, objb = document.body;
        if (winWidth <= 1024) {
            objb.className += " " + "w990";
        } else {
            objb.className = objb.className.replace("w990", '');
        }
        ;
    </script>
</div>-->
<div style="display:none" id="severInfolist">
    server:<br>
    from:<br>
    thread:<br>
    job:<br>
    time:<br>
</div>

</div>
<!--gome_topad-->
<div class="gome-top">
    <div id="gome-top-body" class="wbox">
        <ul>
            <li id="gome-entry-link"><a data-code="public01001" href="javascript:;" target="_blank"><i
                    class="icon-gome-logo"></i>国美首页</a></li>
            <li class="gome-spacer"></li>
            <li id="gome-user" data-load="user">
                <b id="loginDiv-name"><a data-code="public01053" href="javascript:;" rel="nofollow"
                                         target="_blank">国美会员</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a rel="nofollow" data-code="public01002" href="javascript:;">登录</a><a class="gome-link-register"
                                                                                       rel="nofollow"
                                                                                       data-code="public01003"
                                                                                       href="javascript:;">注册有礼<i></i></a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link"><a rel="nofollow" data-code="public01004" href="javascript:;">我的订单</a></li>
            <li id="gome-mygome" data-load="mygome">
                <b><a rel="nofollow" data-code="public01050" href="javascript:;" target="_blank">我的国美</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-enterprise" class="drop">
                <b><a rel="nofollow" data-code="public01055" href="javascript:;" target="_blank">企业采购</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
            <li id="gome-service" class="drop" data-load="service">
                <b><em class="gm-icon">&#x0066;</em><a data-code="public01052" rel="nofollow" href="javascript:;"
                                                       target="_blank">服务中心</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="gome-sitemap" class="drop" data-type="a18" data-load="sitemap">
                <b><a rel="nofollow" data-code="public01060" href="javascript:;" target="_blank">网站导航</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-phone" class="drop">
                <b><em class="gm-icon">&#x00E1;</em><a data-code="public01049" rel="nofollow" href="javascript:;"
                                                       target="_blank">手机国美</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--gome_top-->
<div id="gome-head" class="wbox" data-need-slogan-judge="true">
    <div id="logo"><a data-code="public03001" href="javascript:;">国美</a></div>
    <div id="logo-gif"></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="//search.gome.com.cn/search" onsubmit="return doSearch();">
                <div id="search-type-dropdown">
                    <div class="search-type">
                        <span class="search-type-selected" data-selected=""></span>
                        <i></i>
                    </div>
                    <ul class="search-type-list">
                        <li class="search-type-item" data-selector="goods">商品</li>
                        <li class="search-type-item" data-selector="shop">店铺</li>
                        <li class="search-type-item" data-selector="topic">话题</li>
                        <li class="search-type-item" data-selector="group">圈子</li>
                    </ul>
                </div>
                <label id="keyLabel" default="香肠派对,1;空调,1;冰箱,1;手机,1;洗衣机,1"></label>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off"
                       onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button type="button" class="search-btn" onclick="doSearch();">搜索</button>
            </form>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce', targetType = 'Production', contentLabels = 'Catalog', language = 'chinese';
        </script>
    </div>
    <div class="mygome-side" data-cart="mincart">
        <ul class="topmenu clearfix">
            <li class="shopcartbox"><span class="cartlinkbox"><a data-code="public03004" rel="nofollow"
                                                                 class="menulink cartlink" href="javascript:;"><em
                    class="i-cart"><span class="shopnum"><span
                    id="commerceItemQuantityId">0</span><i></i></span></em><span
                    id="hdrcarttext">购物车空了</span><b></b></a></span>
                <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                    <div id="csLoading" class="loding-layer"><span class="g-loading"></span><span class="loading-text">正在加载中…</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
        <div class="sidecategory">
            <h2><span></span><a data-code="1000036957" href="javascript:;" target="_blank">全部商品分类</a></h2>
            <div id="navBox" class='lisnav'>
                <div class="lisbg"></div>
                <ul class="lisnav-ul" id="lisnav">
                    <li class="first edit-mode nav-item" data-index="0" modeltype="4" modelid="1000037040">
                        <h3>
                            <a data-code="1000037040-0" href="javascript:;" target="_blank">手机</a>
                            <a data-code="1000037040-1" href="javascript:;" target="_blank">充值</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="1" modeltype="4" modelid="1000037283">
                        <h3>
                            <a data-code="1000037283-0" href="javascript:;" target="_blank">相机</a>
                            <a data-code="1000037283-1" href="javascript:;" target="_blank">智能数码</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="2" modeltype="4" modelid="1000037067">
                        <h3>
                            <a data-code="1000037067-0" href="javascript:;" target="_blank">电脑</a>
                            <a data-code="1000037067-1" href="javascript:;" target="_blank">办公配件</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="3" modeltype="4" modelid="1000036959">
                        <h3>
                            <a data-code="1000036959-0" href="javascript:;" target="_blank">电视 影音</a>
                            <a data-code="1000036959-1" href="javascript:;" target="_blank">智能</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="4" modeltype="4" modelid="1000036986">
                        <h3>
                            <a data-code="1000036986-0" href="javascript:;" target="_blank">空调</a>
                            <a data-code="1000036986-1" href="javascript:;" target="_blank">冰箱</a>
                            <a data-code="1000036986-2" href="javascript:;" target="_blank">洗衣机</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="5" modeltype="4" modelid="1000037013">
                        <h3>
                            <a data-code="1000037013-0" href="javascript:;" target="_blank">厨房卫浴</a>
                            <a data-code="1000037013-1" href="javascript:;" target="_blank">生活电器</a>
                            <a data-code="1000037013-2" href="javascript:;" target="_blank">环境</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="6" modeltype="4" modelid="1000037094">
                        <h3>
                            <a data-code="1000037094-0" href="javascript:;" target="_blank">家具</a>
                            <a data-code="1000037094-1" href="javascript:;" target="_blank">建材</a>
                            <a data-code="1000037094-2" href="javascript:;" target="_blank">欧洲厨房</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="7" modeltype="4" modelid="1000037121">
                        <h3>
                            <a data-code="1000037121-0" href="javascript:;" target="_blank">家居家纺</a>
                            <a data-code="1000037121-1" href="javascript:;" target="_blank">家居家装</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="8" modeltype="4" modelid="1000037148">
                        <h3>
                            <a data-code="1000037148-0" href="javascript:;" target="_blank">食品酒水</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="9" modeltype="4" modelid="1000037310">
                        <h3>
                            <a data-code="1000037310-0" href="javascript:;" target="_blank">母婴玩具</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="10" modeltype="4" modelid="1000037175">
                        <h3>
                            <a data-code="1000037175-0" href="javascript:;" target="_blank">美妆个护</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="11" modeltype="4" modelid="1000037202">
                        <h3>
                            <a data-code="1000037202-0" href="javascript:;" target="_blank">服饰鞋帽</a>
                            <a data-code="1000037202-1" href="javascript:;" target="_blank">箱包奢品</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="12" modeltype="4" modelid="1000037229">
                        <h3>
                            <a data-code="1000037229-0" href="javascript:;" target="_blank">运动户外</a>
                            <a data-code="1000037229-1" href="javascript:;" target="_blank">钟表首饰</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="13" modeltype="4" modelid="1000037256">
                        <h3>
                            <a data-code="1000037256-0" href="javascript:;" target="_blank">汽车整车</a>
                            <a data-code="1000037256-1" href="javascript:;" target="_blank">汽车用品</a>
                        </h3>
                    </li>
                    <li class="lst edit-mode nav-item" data-index="14" modeltype="4" modelid="1000037337">
                        <h3>
                            <a data-code="1000037337-0" href="javascript:;" target="_blank">国美管家</a>
                        </h3>
                    </li>
                </ul>
                <div class="subnav" id="subnav" flag="0">
                    <div class="loading1-sync" id="loading1-sync">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mainnav">
            <li><a data-code="public04001" href="javascript:;" target="_blank"><span>首页</span></a></li>
            <li><a class="" data-code="1000000378-1" href="javascript:;" target="_blank"><span>发现</span></a></li>
            <li><a class="" data-code="1000000378-2" href="javascript:;" target="_blank"><span>真划算</span></a><span
                    class="tag_line"></span></li>
            <li><a class="" data-code="1000000378-3" href="javascript:;" target="_blank"><span>超市</span></a></li>
            <li><a class="" data-code="1000000378-4" href="javascript:;" target="_blank"><span>电器城</span></a></li>
            <li><a class="" data-code="1000000378-5" href="javascript:;" target="_blank"><span>汽车</span></a></li>
            <li><a class="" data-code="1000000378-6" href="javascript:;" target="_blank"><span>家居家装</span></a><span
                    class="tag_line"></span></li>
            <li><a class="" data-code="1000000378-7" href="javascript:;" target="_blank"><span>智能</span></a></li>
            <li><a class="" data-code="1000000378-8" href="javascript:;" target="_blank"><span>管家</span></a></li>
        </ul>
    </div>
</div>
</div>
<div class="nSearchWarp">
    <div class="nSearch-crumb clearfix">
        <span id="category-first" catgoryid="cat10000000" data-code="9000000101-1"
              class="nSearch-crumb-tit-category">数码</span>
        <dl class="nSearch-crumb-category" catgoryid="cat10000026" id="category-second">
            <dt class="category-name">摄影摄像</dt>
            <dd class="category-box clearfix" id="category-box-second" modelid="9000000102"></dd>
        </dl>
        <dl class="nSearch-crumb-category" catgoryid="cat10000010" id="category-third">
            <dt class="category-name">空调</dt>
            <dd class="category-box" id="category-box-third" modelid="9000000103">
                <a data-code="9000000103-1" href="//list.gome.com.cn/cat10000062.html">空调</a>
                <a data-code="9000000103-2" href="//list.gome.com.cn/cat15555742.html">空调配件</a>
                <a data-code="9000000103-3" href="//list.gome.com.cn/cat21455972.html">移动空调</a>
                <a data-code="9000000103-4" href="//list.gome.com.cn/cat33526231.html">中央空调</a>
            </dd>
        </dl>
        <a id="clearallfacts" class="nSearch-crumb-clearFacets" data-code="9000001100-0" href="javascript:;">全部清空</a>
        <div class="nSearch-crumb-facetsCurrent-warp" id="nSearch-crumb-facetsCurrent-warp">
            <ul class="nSearch-crumb-facetsCurrent">
            </ul>
            <a href="javascript:void(0)" class="facetsCurrent-prev fc-btn"></a>
            <a href="javascript:void(0)" class="facetsCurrent-next fc-btn"></a>
        </div>
    </div>

    <div class="nSearchWarp nSearch-crumb-category-results">
        <span class="nFont14"><b class="nHeigh">数码相机</b>商品筛选</span>
        <span>共 <em id="searchTotalNumber">146</em> 个商品</span>
    </div>
</div>
<div class="nSearchWarp nSearch-facets" id="module-facet">
    <div class="facets-category facets-category-common fc-hide clearfix">
        <div class="fc-option">
            <span class="fc-option-multiple">多选</span>
            <span class="fc-option-more"><i></i>更多</span>
        </div>
        <span class="fc-key fir" facetsid="11572">颜色：</span>
        <div class="fc-content">
            <div class="category-normal">
                <ul class="clearfix" modelid="">
                    <li><a class="facet " data-code="9000000500-0" href="javascript:;" facetsid="16B7"><i></i>白色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-1" href="javascript:;" facetsid="16Yi"><i></i>褐色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-2" href="javascript:;" facetsid="16Ba"><i></i>黑色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-3" href="javascript:;" facetsid="1eBV"><i></i>红黑色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-4" href="javascript:;" facetsid="16B5"><i></i>蓝色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-5" href="javascript:;" facetsid="16Ym"><i></i>深灰色</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-6" href="javascript:;" facetsid="2diY"><i></i>其他</a>
                    </li>
                </ul>
            </div>
            <div class="fc-btn-box">
                <a class="fc-btn-ok fc-disable" href="javascript:void(0)">确定</a>
                <a class="fc-btn-cancel" href="javascript:void(0)">取消</a>
            </div>
        </div>
    </div>
    <div class="facets-category facets-category-common fc-hide clearfix">
        <div class="fc-option">
            <span class="fc-option-multiple">多选</span>
            <span class="fc-option-more"><i></i>更多</span>
        </div>
        <span class="fc-key fir" facetsid="10287">传感器尺寸：</span>
        <div class="fc-content">
            <div class="category-normal">
                <ul class="clearfix" modelid="">
                    <li><a class="facet " data-code="9000000500-0" href="javascript:;"
                           facetsid="1dxG"><i></i>1/2.3英寸</a></li>
                    <li><a class="facet " data-code="9000000500-1" href="javascript:;" facetsid="2heb"><i></i>1英寸</a>
                    </li>
                    <li><a class="facet " data-code="9000000500-2" href="javascript:;"
                           facetsid="2hec"><i></i>APS-C画幅</a></li>
                    <li><a class="facet " data-code="9000000500-3" href="javascript:;" facetsid="2hed"><i></i>其他</a>
                    </li>
                </ul>
            </div>
            <div class="fc-btn-box">
                <a class="fc-btn-ok fc-disable" href="javascript:void(0)">确定</a>
                <a class="fc-btn-cancel" href="javascript:void(0)">取消</a>
            </div>
        </div>
    </div>
</div>
<div class="nSearchWarp">
    <div class="nSearchWarp-main clearfix">
        <div class="product-right-box">
            <div id="prdRight-2">
                <h3 class="hd">一周销量排行榜</h3>
                <ul class="sell-product" id="bigD_weekTop">
                    <li class="active"><p class="num num1">1</p>
                        <p class="pname"><a class="bigD_item" track=""
                                            href=""
                                            target="_blank">尼康(Nikon) COOLPIX L830 34倍长焦旋转屏1600万像素(黑色 优惠套餐六)</a></p>
                        <div class="pdetail"><p class="pic"><a class="bigD_item" track=""
                                                               href=""
                                                               target="_blank"><img
                                gome-src="image/T1KgLTBTVT1RCvBVdK_160.png"
                                src="image/T1KgLTBTVT1RCvBVdK_160.png"></a></p>
                            <p class="name"><a class="bigD_item" track=""
                                               href=""
                                               target="_blank">尼康(Nikon) COOLPIX L830 34倍长焦旋转屏1600万像素(黑色 优惠套餐六)</a></p>
                            <p class="price"><em>¥<span>1780.00</span></em></p></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-left-list" id="product-left">
            <div style="height:74px">
                <div id="filter-box" modelid="9000000600">
                    <div id="filter-top" class="filter-top clearfix">
                        <ul class="filter-order-box" id="filter-order-box">
                            <li id="sort-general" class="cur" data-sort="00">
                                <a href="javascript:;"
                                   data-href="/cat10000144-00-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html">综合</a>
                            </li>
                            <li class="" data-sort="10">
                                <a href="javascript:;"
                                   data-href="/cat10000144-10-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html">销量</a>
                            </li>
                            <li class="" data-sort="30">
                                <a href="javascript:;"
                                   data-href="/cat10000144-30-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html">新品</a>
                            </li>
                            <li id="sort-price" class="" data-sort="21"
                                prdurl1="/cat10000144-21-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html"
                                prdurl2="/cat10000144-20-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html"><a
                                    data-href="/cat10000144-21-0-48-1-0-0-0-1-0-0-0-10-0-0-0-0-0.html">价格</a><i
                                    class="icon-up-down"></i></li>
                        </ul>
                        <ul class="filter-priceRange-box clearfix">
                            <li class="priceRange-input"><input id="fc-lowPrice" maxlength="6" type="text" value="¥">
                            </li>
                            <li class="priceRange-link">-</li>
                            <li class="priceRange-input"><input id="fc-highPrice" type="text" maxlength="6" value="¥">
                            </li>
                            <li class="priceRange-btn"><a id="fc-btn-cancel" class="fc-btn-cancel"
                                                          href="javascript:void(0)">清除</a></li>
                            <li class="priceRange-btn"><a id="fc-btn-ok" class="fc-btn-ok"
                                                          href="javascript:void(0)">确定</a></li>
                        </ul>
                        <div class="filter-resultSearch-box">
                            <input type="text" value="" class="filter-resultSearch-input">
                            <a data-code="9000000600-0" href="javascript:void(0)" class="filter-resultSearch-btn">确定</a>
                        </div>
                        <div class="min-pager-box">
                            <a href="javascript:void(0)" class="min-pager-next " id="mp-next">&gt;</a>
                            <a href="javascript:void(0)" class="min-pager-prev mp-disable" id="mp-prev">&lt;</a>
                            <span class="min-pager-number" id="min-pager-number">1/4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-showmore" style="display: none">已为您智能筛选出热门品类商品 <a href="javascript:;" title="查看更多商品">查看更多商品</a>
            </div>
            <div class="product-box">
                <div class="product-waiting" id="product-waiting"></div>
                <ul class="product-lists clearfix" id="product-box">
                    <li class="product-item" skuid="1130012117" pid="9140000832">
                        <ul class="arbitrage clearfix"></ul>
                        <div class="item-tab-warp">
                            <p class="item-pic"><a class="emcodeItem item-link" target="_blank" track="产品列表图片"
                                                   href="javascript:;" title="【国美自营】佳能(Canon)PowerShot SX430IS 数码相机 黑色"><img
                                    gome-src="image/T1efKbBXh_1RCvBVdK_210.png"
                                    alt="【国美自营】佳能(Canon)PowerShot SX430IS 数码相机 黑色" src="picture/grey.gif"></a></p>
                            <div class="item-price-info">
                                <div class="item-price">
                                    <span class="price"></span>
                                </div>
                            </div>
                            <p class="item-name"><a class="emcodeItem item-link" href="javascript:;"
                                                    title="【国美自营】佳能(Canon)PowerShot SX430IS 数码相机 黑色" target="_blank">【国美自营】佳能(Canon)PowerShot
                                SX430IS 数码相机 黑色</a></p>
                            <p class="item-comment-dispatching">
                                <a href="javascript:;" target="_blank" class="comment">738</a>
                            </p>
                            <p class="item-shop">
                                <span class="nnamezy">自营</span>
                            </p>
                            <p class="item-option clearfix">
                                <span class="add-contrast display-page-compare-checkbox"><i class="icon"></i></span>
                                <span class="add-collection"><i class="icon"></i></span>
                                <span class="add-cart addTo-cart"><i class="icon"></i></span>
                                <span title="在线客服" class="gomekf online-server" skuid="1130012117"
                                      customer-entry="product" shopid="" productid="9140000832"
                                      categoryid="cat10000000_cat10000026_cat10000144" brandid="14WF"><i
                                        class="icon"></i></span>
                            </p>
                        </div>
                    </li>
                    <li class="product-item" skuid="pop8006019131" pid="A0005230178">
                        <ul class="arbitrage clearfix"></ul>
                        <div class="item-tab-warp">
                            <p class="item-pic"><a class="emcodeItem item-link" target="_blank" track="产品列表图片"
                                                   href="javascript:;" title="索尼（SONY）DSC-W830 数码相机(银色 官方标配)"><img
                                    gome-src="image/T1efKbBXh_1RCvBVdK_210.png"
                                    alt="索尼（SONY）DSC-W830 数码相机(银色 官方标配)" src="picture/grey.gif"></a></p>
                            <div class="item-price-info">
                                <div class="item-price">
                                    <span class="price"></span>
                                </div>
                            </div>
                            <p class="item-name"><a class="emcodeItem item-link" href="javascript:;"
                                                    title="索尼（SONY）DSC-W830 数码相机(银色 官方标配)" target="_blank">索尼（SONY）DSC-W830
                                数码相机(银色 官方标配)</a></p>
                            <p class="item-comment-dispatching">
                                <a href="javascript:;" target="_blank" class="comment">81</a>
                            </p>
                            <p class="item-shop">
                                <a class="nname" target="_blank" href="javascript:;">启邦数码专营店</a>
                            </p>
                            <p class="item-option clearfix">
                                <span class="add-contrast display-page-compare-checkbox"><i class="icon"></i></span>
                                <span class="add-collection"><i class="icon"></i></span>
                                <span class="add-cart addTo-cart"><i class="icon"></i></span>
                                <span title="在线客服" class="gomekf online-server" customer-entry="product"
                                      shopid="80008664" skuid="pop8006019131" productid="A0005230178"
                                      categoryid="cat10000000_cat10000026_cat10000144" brandid="10PQ"><i
                                        class="icon"></i></span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="clearfix" id="product-pager">
                    <div class="pager" id="j-page"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="lazyajaxloadareaBox">-->
    <!--<div id="lazyajaxloadarea"></div>-->
<!--</div>-->
<div id="gome-bar">
    <div id="gome-aside-app-code">
        <a data-code="1000043134" href="javascript:;" target="_blank">
            <img src="picture/grey.gif" gome-src="//gfs11.gomein.net.cn/T1uBW_B5hv1RCvBVdK.png">
            <strong>moren</strong></a>
    </div>
    <div id="gome-bar-box">
        <div id="gome-bar-member" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="member-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-cart" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="cart-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-coupon" class="gome-bar-box-wrap">
            <h3 style="padding-bottom: 5px"><span class="gome-bar-close"></span></h3>
            <div id="coupon-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-favorites" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span><span class="gome-bar-title">我的收藏</span></h3>
            <ul class="favorites-tab">
                <li class="tab-item tab-item-goods selected">商品</li>
                <li class="tab-item tab-item-shop">店铺</li>
                <li class="tab-item tab-item-brand">品牌</li>
            </ul>
            <div id="favorites-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>

                <div id="favorites-main-scrool" class="favorites-main">
                    <div class="main-item main-item-goods">
                    </div>
                    <div class="main-item main-item-shop">
                    </div>
                    <div class="main-item main-item-brand">
                    </div>
                </div>
            </div>
        </div>
        <!-- gome-bar-coupon -->
    </div>
    <!-- gome-bar-box -->
</div>
<!--aside-->
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-pz"></i>品质</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">正品行货 购物无忧</a></li>
        <li><a data-code="1000043126-1" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-dj"></i>低价</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">普惠实价 帮你省钱</a></li>
        <li><a data-code="1000043126-2" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-sd"></i>速达</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">专业配送 按时按需</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="javascript:;" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="picture/grey.gif" gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="picture/grey.gif" gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="javascript:;" target="_blank"><img
                            src="picture/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank">国美控股集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
</body>
</html>