<!-- 后台未提供TDK字段，二级分类传值为newsCtgy,三级分类传值为categoryTwo -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>国美快讯_国美快讯首页-国美</title>
    <!-- 启用360浏览器的极速模式(webkit) – -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="国美新闻中心为广大网友提供国美促销活动信息和新闻活动信息,想知道更多促销信息及活动信息就来国美新闻中心首页">
    <meta name="Keywords" content="新闻中心新闻中心首页,国美新闻中心,新闻">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta name="applicable-device" content="pc">
    <link rel="shortcut icon" href="font/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/gm-indexsever.css">
    <script src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/gm-indexsever.js"></script>
</head>
<body class="news w990">

<!--newads-->
<div id="gome-topad-sm" class="gome-topad">
</div>
<!--gome_topad-->
<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>
<!--gome_top-->
<div id="gome-head" class="wbox" data-need-slogan-judge="true">
    <div id="logo"><a data-code="public03001" href="index.html">国美</a></div>
    <div id="logo-gif"></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="//search.gome.com.cn/search">
                <div id="search-type-dropdown">
                    <div class="search-type">
                        <span class="search-type-selected" data-selected="">商品</span>
                    </div>
                </div>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off"
                       onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button type="button" class="search-btn">搜索</button>
            </form>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce', targetType = 'Production', contentLabels = 'Catalog', language = 'chinese';
        </script>
    </div>


</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
        <div class="sidecategory">
            <h2><span></span><a data-code="1000036957" href="javascript:;" target="_blank">全部商品分类</a></h2>
            <div id="navBox" class='lisnav'>
                <div class="lisbg"></div>
                <ul class="lisnav-ul" id="lisnav">

                </ul>
                <div class="subnav" id="subnav" flag="0">
                    <div class="loading1-sync" id="loading1-sync" style="top: 0px">

                    </div>
                </div>
            </div>
        </div>

        <ul class="mainnav">

        </ul>
        <!--nav-->
        <div class="hdrsideRoll">
        </div>
        <!--scroll-->
    </div>
</div>
<!--category-->
<!--head-->


<!--新闻资讯-->
<div class="ymain pt20">
    <div class="loading"></div>
    <!--国美快讯-->
    <div class="ymin_dh y_w990">
        <span>
            <a href="javascript:;" target="_blank" title="国美快讯">国美快讯</a>
        </span>
        <!--newsCtgy存在为二级分类,categoryTwo存在为三级分类-->


    </div>
    <div class="ymin_nr y_w990 mt20 clearfix">
        <div class="ynr_fr fl">
            <ul class="yin_ul">
            </ul>
            <div class="y_page pager" id="y_page_in"><a class="prev disable" href="javascript:void(0);">&nbsp;上一页<s
                    class="icon-prev"></s><i></i></a><span class="cur">1</span><a class="next disable"
                                                                                  href="javascript:void(0);">下一页<s
                    class="icon-next"></s><i></i></a><label for="pagenum" class="txt-wrap">到<input type="text" id="pNum"
                                                                                                   class="txt" bnum="0"
                                                                                                   value="1">页</label><a
                    href="javascript:void(0)" zdx="nBtn" class="btn">确定</a></div>
        </div>
        <!--右边浮框-->
        <div class="ynr_fl fr">
            <div class="yfr_div" id="fix_fl">
                <div class="yin_inp">
                    <input type="text" name="title" class="yin_pt" value=""
                    >
                    <a href="javascript:void(0);" id="yin_search"></a>
                </div>
                <div class="yin_na">
                    <!-- 如果是二级分类,则newsCtgy字段存在，如果是三级分类或者正文页，则categoryTwo存在-->




                </div>

            </div>
        </div>
    </div>
</div>

<!--END-->
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-pz"></i>品质</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">正品行货 购物无忧</a></li>
        <li><a data-code="1000043126-1" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-dj"></i>低价</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">普惠实价 帮你省钱</a></li>
        <li><a data-code="1000043126-2" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-sd"></i>速达</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">专业配送 按时按需</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="javascript:;" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="picture/grey.gif" gome-src="picture/T1kPDvBvZj1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="picture/grey.gif" gome-src="picture/T1gGKvBshT1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="javascript:;" target="_blank"><img
                            src="picture/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<div id="gome-bar">
    <div class="gome-aside">
        <ul>
            <li id="gome-aside-cart" class="lang">
                <b></b><a href="javascript:void(0)" class="lang"><i class="caricon"></i><b class="car_num car_num_0"><s>0</s><span
                    class="point"></span></b><span class="text">购物车</span></a>
            </li>
            <li id="gome-aside-coupon">
                <b></b><a href="javascript:void(0)"><i></i></a>
                <div><a>我的优惠券</a></div>
            </li>
            <li id="gome-aside-app">
                <b></b><a data-code="1000043134" href="javascript:;" target="_blank"><i></i></a>
                <div></div>
            </li>
            <li id="gome-aside-survey">
                <b></b><a rel="nofollow" data-code="1000043132" href="javascript:;" target="_blank"><i></i></a>
                <div><p><a rel="nofollow" data-code="1000043132" href="javascript:;" target="_blank">有奖调研</a></p></div>
            </li>
            <li id="gome-aside-service">
                <b></b><a class="live800-service" customer-entry="composite" customer-service-button-id=""><i></i></a>
                <div><p><a class="live800-service" customer-entry="composite" customer-service-button-id="">在线客服</a></p>
                </div>
            </li>
            <li id="gome-aside-backtop">
                <b></b><a href="javascript:void(0)"><i></i></a>
                <div><p><a>返回顶部</a></p></div>
            </li>
        </ul>
    </div>
    <!-- gome-aside -->
    <div id="gome-aside-app-code">
        <a data-code="1000043134" href="javascript:;" target="_blank">
            <img src="picture/grey.gif" gome-src="image/T1uBW_B5hv1RCvBVdK.png">
            <strong>moren</strong></a>
    </div>
    <!-- gome-aside-app-code -->
    <div id="gome-bar-border">
        <ul id="gome-bar-border-tab">
            <li class="gome-bar-btn-member" data-open="member"><b></b><i class="membericon"></i><a
                    class="gome-bar-btn-tip" rel="nofollow" href="javascript:void(0);">国美会员</a></li>
            <li class="gome-bar-btn-cart" data-open="cart" id="gome-bar-btn-cart"><b class="car_arrow"></b><i
                    class="caricon"></i><b class="car_num car_num_0"><s>0</s><span class="point"></span></b><span
                    class="text">购物车</span></li>
            <li class="gome-bar-btn-coupon" data-open="coupon"><b></b><i class="caricon"></i></li>
            <li class="gome-bar-btn-favorites" data-open="favorites" id="gome-bar-btn-favorites"><b></b><i
                    class="favorites-icon"></i><a class="gome-bar-btn-tip" href="gm-shoucang.html">我的收藏</a></li>
        </ul>
    </div>
    <!-- gome-bar-border -->
    <div id="gome-bar-box">
        <div id="gome-bar-member" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="member-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif"
                         gome-src="image/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-cart" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="cart-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif"
                         gome-src="image/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-coupon" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="coupon-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif"
                         gome-src="image/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-favorites" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span><span class="gome-bar-title">我的收藏</span></h3>
            <ul class="favorites-tab">
                <li class="tab-item tab-item-goods selected">商品</li>
                <li class="tab-item tab-item-shop">店铺</li>
                <li class="tab-item tab-item-brand">品牌</li>
            </ul>
            <div id="favorites-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif"
                         gome-src="image/loading.gif">
                </div>

                <div id="favorites-main-scrool" class="favorites-main">
                    <div class="main-item main-item-goods">
                    </div>
                    <div class="main-item main-item-shop">
                    </div>
                    <div class="main-item main-item-brand">
                    </div>
                </div>
            </div>
        </div>
        <!-- gome-bar-coupon -->
    </div>
    <!-- gome-bar-box -->
</div>
<!--aside-->

<script type="text/javascript">
    $(function () {
        loadDate(1);
        findParentCategory();
        search();
        var text = "";
        var total = "";

        function loadDate(pageNo) {
            $("ul.yin_ul").empty();
            var parmes = $(".yin_inp input[name=title]").val();
            $.getJSON("news/findByTitlePage?pageIndex=" + pageNo, "title=" + parmes, function (json) {
                text = pageNo;
                total = json.totalPage;
                for (var i = 0; i < json.length; i++) {
                    var cate = json[i];
                    var li = "";
                    li += "<li>";
                    li += "<h2 class='yin_h2'>";
                    if (i == 0) {
                        li += "<span class='y_zd'>置顶</span>";
                    } else {
                        li += "<span class='y_zd'>公告</span>";
                    }
                    li += "<a href='news_details.html?id="+cate.id+"' target='_blank' >" + cate.title + "</a>";
                    li += "</h2>";
                    li += "<p class='yin_cont'>" + cate.context + "<a href='news_details.html?id="+cate.id+"'rel='nofollow' target='_blank' >查看详情 ></a></p>";
                    li += "<div class='yin_tm' arrid='20002986'>";
                    li += "<span class='bor_no'>" + cate.subtime + "</span>";
                    li += "</div>";
                    li += "</li>";
                    $("ul.yin_ul").append(li);
                }
            }, "json");
        }


        $("#yin_search").click(function () {
            pageNo = 1;
            loadDate(pageNo);
        });

        //--------------------悬浮商品分类特效-------------------------
        $("#lisnav li").live("hover",this,
            function () {
                $(this).addClass("bgw").siblings().removeClass("bgw");
                $("#subnav").show();
                var index = $(this).attr("cid");
                $("#cid-" +index).show().siblings().hide();
                // $("#loading1-sync>div").eq(index);
            }
        );
        //分类框失去焦点事件
        $("#navBox,#subnav").hover(
            function () {
            },
            function () {
                $("#subnav").hide();
                $("#lisnav li").removeClass("bgw");
            }
        );

    });
    //搜索跳转
    function search() {
        $(".search-btn").click(function () {
            var input=$("#searchInput").val();
            if(input==""){
                input="华为";
            }
            var content = encodeURI(encodeURI(input));
            window.location.href='categoryLists.html?content='+content;
        });
    }
    //显示商品一级
    function findParentCategory() {
        $.getJSON("../../category/findParentCategory?pid=0", function (json) {
            for (var i = 0; i < json.length; i++) {
                category(json[i].cid);
                var li = "<li class='first edit-mode nav-item' data-index='" + i + "' cid='" + json[i].cid + "'> <h3>"
                li += " <a href='javascript:;' target='_blank' >" + json[i].name + "</a>";
                li += " </h3></li>";
                $("#lisnav").append(li);
            }

        })
    }
    //根据分类编号查询子分类
    function category(cid) {
        $.getJSON("../../category/findCategoryAndChild",{"parentId":cid}, function (json) {
            var div="<div class='fullcategory' style='display: none;' id='cid-"+cid+"'><div class='fullcategory-left'>";
            div+=" <div class='fullcategory-title'>";
            var divs="";
            for(var i=0;i<json.length;i++){
                div+="<a href='#' title='"+json[i].name+"'>"+json[i].name+"<i></i></a>";
                divs+="<div class='fullcategory-content' style='width: 769px;'><ul class='fullcategory-list' style='width: 769px;'>  <div class='title' style='margin-top: -8px;_margin: -8px 0;'>"+json[i].name+"</div> <div class='list' style='width: 700px;'>";
                var list=json[i].categoryChildren;
                var divss="";
                for(var j=0;j<list.length;j++){
                    divss+="<a href='categoryList.html?cid="+list[j].cid+"&level="+list[j].clevel+"' target='_blank' class='hot'  title='"+list[j].name+"'>"+list[j].name+"</a>";
                    var lists=json[i].categoryChildren[j].categoryChildren;
                    for(var k=0;k<lists.length;k++){
                        divss+="<a href='categoryList.html?cid="+lists[k].cid+"&level="+lists[k].clevel+"' target='_blank'  title='"+lists[k].name+"'>"+lists[k].name+"</a>";
                    }
                    divs+=divss;
                }
                divs+="</div></ul></div>";
            }
            div+="</div>";
            div+="<div class='fullcategory-content-box' id='fullcategory-content-box'style='width: 769px;'>";
            div+=divs;
            div+="</div></div></div>";
            $("#loading1-sync").append(div);
        });
    }
</script>
</body>
</html>
















