
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta name="keyword" content="优惠券-国美">
    <meta name="description" content="优惠券-国美">
    <title>优惠券-国美</title>
    <link rel="dns-prefetch" href="//img.gomein.net.cn">
    <link rel="dns-prefetch" href="//img1.gomein.net.cn">
    <link rel="dns-prefetch" href="//img3.gomein.net.cn">
    <link rel="dns-prefetch" href="//img4.gomein.net.cn">
    <link rel="dns-prefetch" href="//css.gomein.net.cn">
    <link rel="dns-prefetch" href="//js.gomein.net.cn">
    <link rel="dns-prefetch" href="//app.gomein.net.cn">
    <link rel="canonical" href="//www.gome.com.cn">
    <link rel="shortcut icon" href="//app.gomein.net.cn/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
          href="//css.gomein.net.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/cart/1.0.0/css/headCart.min.css,gmpro/1.0.0/public/member/css/memberHead.css,gmpro/1.0.0/public/1.0.0/css/foot.min.css,gmpro/1.0.0/public/1.0.0/css/aside.min.css?v=201908291743">
    <link rel="stylesheet"
          href="//css.gomein.net.cn/??gmpro/2.0.0/member/4.4.4/css/common/h_b_c.css,gmpro/2.0.0/member/4.4.4/css/common/vipMainHeader.css,gmpro/1.0.0/cart/1.0.0/css/headCart.min.css,gmpro/2.0.0/member/4.4.4/css/common/mygome_new.css,gmpro/2.0.0/member/4.4.4/css/common/pager.css,gmpro/2.0.0/member/4.4.4/css/common/navTab.css,gmpro/2.0.0/member/4.4.4/css/common/popbox.css,gmpro/2.0.0/member/4.4.4/css/common/selectNav.css,gmpro/2.0.0/member/4.4.4/css/gomeMyCoupon/acountBalance.css,gmpro/2.0.0/member/4.4.4/css/gomeMyCoupon/myCouponImg.css">
    <script src="js/jquery-1.8.3.js"></script>
</head>
<body class="gomeMyCoupon" data-page="myhome">
<script type="text/javascript">

    var pageName = "用户中心:我的国美:优惠券",
        prop = "用户中心",
        flag = 0;
</script>
<!-- 返利的导航 -->
<!--头部end--><!--newads-->
<!--newads-->
<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>
<!--gome_top-->
<div class="main_header">
    <div class="ucGomeTopic">
        <div class="wbox headBox">
            <div class="myhomeLogo"></div>
            <ul class="gomeNav clearfix">
                <li class="gomeNavList">
                    <a class="bgColor" href="gm-myindex.html">首页</a></li>
                <li class="w107 gomeNavList curArrow">
                    <a href="javascript:;">账户设置<i></i></a>
                    <ul class="navList w105">
                        <li class=""><a href="accountSecurity.html">账户安全</a></li>
                        <li class=""><a href="profile.html">基本资料</a></li>
                        <li class=""><a href="addressPage.html">收货地址</a></li>
                    </ul>
                </li>
                <li class="w125 gomeNavList">
                    <a href="javascript:;" class="club">会员俱乐部<i></i></a>
                    <ul class="navList w123">
                        <li class=""><a href="vipLevel.html">会员等级</a></li>
                        <li class=""><a href="vip_club.html">会员俱乐部</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
<!--gome_head -->
<!--head-->

<div class="content">
    <!--nav-->
    <div class="wbox">
        <!-- 内容区 -->
        <div class="cont-middle clearfix" style="overflow: visible;">
            <!--side nav-->
            <div class="side-nav">

                <!--#--模板开始---->
                <div class="sidenav-ul padd-top-10">
                    <!--#--模板开始---->
                    <div class="sideBar-sort">订单中心</div>
                    <ul>
                        <li>
                            <a href="gm-myOrder.html">我的订单</a><span></span>
                        </li>
                        <li>
                            <a href="gm-returnPro.html">退换货单</a><span></span>
                        </li>
                        <li>
                            <a href="gm-appraise.html">评价晒单</a><span></span>
                        </li>
                    </ul>
                    <div class="sideBar-sort">资产中心</div>
                    <ul>
                        <li>
                            <a href="gm-myMD.html">我的美豆</a><span></span>
                        </li>
                        <li>
                            <a href="gomeMyCoupon.html">优惠券</a><span></span>
                        </li>
                        <li>
                            <a href="libao.html">我的礼包</a><span></span>
                        </li>
                    </ul>
                    <div class="sideBar-sort">管理中心</div>
                    <ul>
                        <li>
                            <a href="gm-shoucang.html">我的收藏</a><span></span>
                        </li>
                        <li>
                            <a href="gm-myfoot.html">我的足迹</a><span></span>
                        </li>
                    </ul>
                    <div class="sideBar-sort">账户设置</div>
                    <ul>
                        <li>
                            <a href="accountSecurity.html">账户安全</a><span></span>
                        </li>
                        <li id="li">
                            <a href="profile.html">基本资料</a><span></span>
                        </li>
                        <li>
                            <a href="addressPage.html">收货地址</a><span></span>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- 主体内容 -->
            <div id="cont-title" class="cont-title" style="line-height:60px;">您的位置：<span>我的国美 &gt; 优惠券</span></div>
            <div class="cont-r uc-coupons-main clearfix">
                <div class="uc-coupon-main">
                    <div class="uc_record_box">
                        <div class="tabs">
                            <div class="tabsHeader">
                                <ul>
                                    <li class="cur" num="0">未使用</li>
                                    <li num="1">已使用</li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                <div class="uc_overdue">
                                    <div class="uc_overdue-Left">
                                        <p id="uc_overdue-btn"></p>
                                        <ul id="uc_overdue-uls" style="display: none;">
                                            <li class="on"></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="voucherListBox clearfix">

                                </div>
                                <div></div>
                                <div class="pager">
                                    <a class="prev disable" href="javascript:void(0);">&nbsp;上一页<s class="icon-prev"></s><i></i></a>
                                    <a class="next " href="javascript:void(0);">下一页<s class="icon-next"></s><i></i></a>
                                    <label for="pagenum" class="txt-wrap">到<input type="text" id="pNum" class="txt" bnum="1" value="1">页</label>
                                    <a  href="javascript:void(0)" zdx="nBtn" id="sure" class="btn">确定</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="voucherCatalog clearfix">
                    <ul>
                        <li id="callCenter">
                            <a href="juan.html" target="_blank">
                                <div class="icon_01"></div>
                                <p>领券中心</p></a></li>
                        <li><a class="uc_jhcoupons_btn" href="javascript:void(0);">
                            <div class="icon_02"></div>
                            <p>激活优惠券</p></a></li>
                        <li><a href="//help.gome.com.cn/question/5442.html" target="_blank">
                            <div class="icon_03"></div>
                            <p>获取优惠券方式</p></a></li>
                        <li class="Cataloglast"><a href="//help.gome.com.cn/article/279-0-0.html" target="_blank">
                            <div class="icon_04"></div>
                            <p>优惠券使用说明</p></a></li>
                    </ul>
                </div>
                <!-- 为您推荐 -->
                <div class="recom-goods"></div>
            </div>

        </div>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="//help.gome.com.cn/question/37.html" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="//help.gome.com.cn/question/5658.html" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="//survey.gome.com.cn/wj/762050349c.html"
                   target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif"
                          gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif"
                          gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="//shouji.gome.com.cn/" target="_blank"><img
                            src="//gfs11.gomein.net.cn/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="http://igome.com/" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="//www.gomegj.com/" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="//help.gome.com.cn/about/company.html" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="//zp.gome.com.cn" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="//brand.gome.com.cn/" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="//www.gome.com.cn/topic/" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="//www.gome.com.cn/chanpin/" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="//www.gome.com.cn/hotwords/" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="//www.gome.com.cn/links/" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="//news.gome.com.cn/4-8ef49f4b-1-8.html" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="//cps.gome.com.cn/" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="//www.gome.com.cn/join/" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="//amp.gome.com.cn" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug"
                                                                                 href="//gfs13.gomein.net.cn/T1MvVsBCJT1RCvBVdK.jpg"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug"
                                                     href="http://gfs12.gomein.net.cn/wireless/T1TQWvB_DT1RCvBVdK_1594_2253.jpg"
                                                     target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs10.gomein.net.cn/wireless/T1SdWQBXK_1RCvBVdK_2187_3157.jpg"
                target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug"
                                         href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action"
                                         target="_blank">沪ICP备11009419号/京ICP备 19011786号</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs11.gomein.net.cn/T12lAsBjdT1RCvBVdK.jpg"
                target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a class="interDrug" href="//www.gome.com.cn/companyinfo/"
                                                               target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                                      href="//gfs13.gomein.net.cn/T1_sDQB5C_1RCvBVdK.jpg"
                                                                                                      target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs13.gomein.net.cn/T17uAbBCV_1RCvBVdK.jpg" target="_blank">出版物经营许可证</a>
        </p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap"
                                                                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038379"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx"
               href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020180207103133000002364548-SAIC_SHOW_310000-20111216142637606716&amp;signData=MEUCIQC1/jeZWEtg92x7131WE/PdcIn+wobhHCTeFwGuSnrATwIgdmtvHOPsmE7svEq21kZgzaodmdwbXGKccHzhgqxZ5Xk="
               target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="https://ss.knet.cn/verifyseal.dll?sn=2011071100100011373&amp;comefrom=trust"
               target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="https://credit.szfw.org/CX20111018000607000618.html" target="_blank"
               rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="http://scjgj.sh.gov.cn/platform/survey/step1_phone" target="_blank"
               rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="http://www.shjbzx.cn/" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<div id="gome-bar">

    <!-- gome-aside -->
    <div id="gome-bar-border" style="display: none;">
        <ul id="gome-bar-border-tab" style="display: none; top: 174px;">
            <li class="gome-bar-btn-member" data-open="member"><b></b><i class="membericon"></i><a
                    class="gome-bar-btn-tip" rel="nofollow" href="javascript:void(0);">国美会员</a></li>
            <li class="gome-bar-btn-cart" data-open="cart" id="gome-bar-btn-cart"><b class="car_arrow"></b><i
                    class="caricon caricon_num"></i><b class="car_num car_num_more"
                                                       style="background: rgb(221, 0, 167);"><s>7</s><span
                    class="point"></span></b><span class="text">购物车</span></li>

            <li class="gome-bar-btn-favorites" data-open="favorites" id="gome-bar-btn-favorites"><b></b><i
                    class="favorites-icon"></i><a class="gome-bar-btn-tip" href="javascript:void(0);">我的收藏</a></li>
        </ul>
    </div>
    <!-- gome-bar-border -->
    <div id="gome-bar-box">
        <div id="gome-bar-member" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="member-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading" style="top: 228.5px;">
                    <img src="//app.gomein.net.cn/images/grey.gif"
                         gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-cart" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="cart-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading" style="top: 228.5px;">
                    <img src="//app.gomein.net.cn/images/grey.gif"
                         gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>

        <div id="gome-bar-favorites" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span><span class="gome-bar-title">我的收藏</span></h3>
            <ul class="favorites-tab">
                <li class="tab-item tab-item-goods selected">商品</li>
                <li class="tab-item tab-item-shop">店铺</li>
                <li class="tab-item tab-item-brand">品牌</li>
            </ul>
            <div id="favorites-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading" style="top: 228.5px;">
                    <img src="//app.gomein.net.cn/images/grey.gif"
                         gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>

                <div id="favorites-main-scrool" class="favorites-main">
                    <div class="main-item main-item-goods">
                    </div>
                    <div class="main-item main-item-shop">
                    </div>
                    <div class="main-item main-item-brand">
                    </div>
                </div>
            </div>
        </div>
        <!-- gome-bar-coupon -->
    </div>
    <!-- gome-bar-box -->
</div>
<!--aside-->
<!--特效-->
<script type="text/javascript">
    $(function () {
        $("a#a").attr("href", "car.html");
        //悬浮显示全部类型
        $("div.uc_overdue-Left").hover(
            function () {
                $("#uc_overdue-uls").show();
            }, function () {
                $("#uc_overdue-uls").hide();
            }
        );
        //悬浮三种状态的下划线
        $(".tabsHeader ul li").hover(
            function () {
                $(this).addClass("cur").siblings().removeClass("cur");
            }
        );
        //悬浮字体变色
        $(".side-nav  div ul li").hover(
            function () {
                $(this).addClass("active");
            },
            function () {
                $(this).removeClass("active");
            }
        );
        //悬浮显示头上下拉款
        $(".gomeNav li").hover(
            function () {
                $(this).addClass("navCur").siblings().removeClass("navCur");
            }, function () {
                $(this).removeClass("navCur");
            }
        );

    });
</script>

<!--脚本-->
<script type="text/javascript">
    $(function () {
        //默认查询未使用的全部类型优惠卷
        var status=0;
        var type="null";
        var pageSize=1;
        //页面一加载
        load(1,pageSize,status,type);
        //查询卷数量
         volumeCount();
        //未使用和使用点击切换事件
        $(".tabsHeader ul li").click(function () {
            $(this).addClass("cur").siblings().removeClass("cur");
              status=$(this).attr("num");
              load(1,pageSize,status,type);
        });
        //点击切换类型
        $("#uc_overdue-uls li").click(function () {
           var datanum=$(this).find("a").attr("datanum");
           var text=$(this).find("a").text();
           var input=text.substring(0,text.length-1);
            type=$(this).find("a").attr("types");
            if(type==-1){
                type="null";
            }
            $("#uc_overdue-btn").empty();
            $("#uc_overdue-btn").append("<a href='javascript:void(0);'>"+input+"<span>"+datanum+"</span></a>");
            $("#uc_overdue-uls").hide();
            load(1,pageSize,status,type);
        });

        //上下分页
        $(".prev").click(function () {
            var pageNo=$(this).attr("pageNo");
            if(pageNo>1){
                pageNo--;
            }
            load(pageNo,pageSize,status,type);
        });

        $(".next").click(function () {
            var pageNo=$(this).attr("pageNo");
            if(pageNo<pageCount){
                pageNo++;
            }
            load(pageNo,pageSize,status,type);
        });
        //到几页去
        $("#sure").click(function () {
            var pageNo=$("#pNum").val();
            if(pageNo>0){
                load(pageNo,pageSize,status,type);
            }
        });

    });
     //通用方法
    var pageCount=0;
    function load(pageIndex,pageSize,status,type) {
        $.getJSON("/coupon/userCouponList",{"pageIndex":pageIndex,"pageSize":pageSize,"status":status,"type":type},function (json) {
            $(".voucherListBox").empty();
            if(json.pageNo==1){
                $(".prev").addClass("disable");
            }else{
                $(".prev").removeClass("disable");
            }
            if(json.pageNo==json.pageCount){
                $(".next").addClass("disable");
            }else{
                $(".next").removeClass("disable");
            }
            if(json.pageCount==1){
                $(".prev").addClass("disable");
                $(".next").addClass("disable");
            }
            pageCount=json.pageCount;
            $(".prev").attr("pageNo",json.pageNo);
            $(".next").attr("pageNo",json.pageNo);
            $("#pNum").val(json.pageNo);
            var list=json.list;
            if(list.length>0){
                for(var i=0;i<list.length;i++){
                    //转换时间格式
                    var dateee = new Date(list[i].start_time).toJSON();
                    var times= new Date(+new Date(dateee) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    var dateee2 = new Date(list[i].end_time).toJSON();
                    var times2= new Date(+new Date(dateee2) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    var div="<div class='voucherList' style='height: 239px'>";
                    //判断状态
                    if(status==0){
                        div+=" <div class='voucherList-information'>";
                    }else{
                        div+=" <div class='voucherList-information voucher-expired'>";
                    }
                    div+="<h3 class='information-title'>"+list[i].coupon_name+"</h3> <h2 class='amountMoney'><b>¥</b><a href='javascript:void;'>"+list[i].coupon_money+".</a><span>00</span></h2>";
                    var momey="";
                    if(list[i].full_money==0){
                        momey="减"
                    }else{
                        momey=list[i].full_money;
                    }
                    div+="<h5 class='vouchertitle'><a class='selfred' href='javascript:(void);'>"+list[i].cname+"</a> 满"+momey+"可用</h5>";
                    div+="<p class='voucherTime'>"+times.substring(0,times.length-3)+" - "+times2.substring(0,times.length-3)+"</p></div>";
                    //判断是否是用完状态
                    if(status==0){
                        div+="<div class='voucherList-rule' style='height: 58px;'><a class='voucherList-btn' target='_blank' href='juan_product.html'>使用</a></div>";
                    }
                    div+="</div>";
                    $(".voucherListBox").append(div);
                }
            }else{
                noData();
            }


        });
    }

    //查询卷类型总数
    function volumeCount() {
        $.getJSON("/coupon/userCouponCount",function (json) {
            $("#uc_overdue-btn").append("<a href='javascript:void(0);'>全部类型券<span>"+json.sum+"</span></a>");
            $("#uc_overdue-uls li").eq(0).append("<a datanum='"+json.sum+"'types='-1' href='javascript:void(0);'>全部类型券<span>"+json.sum+"</span></a>");
            $("#uc_overdue-uls li").eq(1).append("<a datanum='"+json.wmk+"' types='0' href='javascript:void(0);'>无门槛<span>"+json.wmk+"</span></a>");
            $("#uc_overdue-uls li").eq(2).append("<a datanum='"+json.mj+"' types='1' href='javascript:void(0);'>满减<span>"+json.mj+"</span></a>");
        });
    }
    //无数据显示
   function noData() {
       var div="<div class='voucherEmpty'><p>亲，您这里好空荡哟~~~</p><a  href='juan.html' target='_blank'>领券中心</a></div>";
       $(".voucherListBox").append(div);
   }
</script>
</body>
</html>