<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>国美(GOME)-综合网购商城，正品低价、品质保障、快速送达、安心服务！</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description"
          content="国美(Gome.com.cn)国美电器唯一官方网上商城，中国领先的专业家电网购平台.全球品牌电视、洗衣机、电脑、手机、数码、空调、电脑配件、生活电器、网络产品等正品行货，更低价格，更快送达，为您提供便捷、诚信的服务.">
    <meta name="Keywords" content="国美,国美在线,国美电器,国美官方旗舰店,国美电器网上商城,电视,洗衣机,电脑,手机,数码,空调,电脑配件,生活电器">
    <meta property="qc:admins" content="2500556177677556375636">
    <meta name="applicable-device" content="pc">
    <meta name='360_ssp_verify' content='c07d2d89e39a848c43e118883a94560f'>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="data-code" content="sy">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=//m.gome.com.cn">
    <meta http-equiv="mobile-agent" content="format=html5; url=//m.gome.com.cn">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Access-Control-Allow-Origin" content="//myhome.gome.com.cn">
    <link rel="shortcut icon" href="font/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/201908251728gmlibunitsticknav1.0.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/index/201908251728gmlibseaseajs3.0.0se.js"></script>
    <script src="js/index.js"></script>
</head>
<body class="home" v="201509v1" data-page="sy">
<!-- 返利的导航 -->
<!--头部end--><!--newads-->

<!--newads-->
<div id="gome-topad-sm" class="gome-topad">
</div>



<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>



<!--gome_top-->
<div id="gome-head" class="wbox" data-need-slogan-judge="true">
    <div id="logo"><a data-code="public03001" href="index.html">国美</a></div>
    <div id="logo-gif"></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="//search.gome.com.cn/search">
                <div id="search-type-dropdown">
                    <div class="search-type">
                        <span class="search-type-selected" data-selected="">商品</span>
                    </div>
                </div>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off"
                       onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button type="button" class="search-btn">搜索</button>
            </form>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce', targetType = 'Production', contentLabels = 'Catalog', language = 'chinese';
        </script>
    </div>



    <div class="mygome-side" data-cart="mincart">
        <ul class="topmenu clearfix">
            <li class="shopcartbox"><span class="cartlinkbox">
                <a data-code="public03004" rel="nofollow" class="menulink cartlink" id="a" href="car.html"><em
                        class="i-cart"><span class="shopnum" name="numSpan"><span
                        id="commerceItemQuantityId" name="num">0</span><i></i></span></em><span
                        id="hdrcarttext">我的购物车</span></a></span>

            </li>
        </ul>
    </div>

    <script type="text/javascript">

        //我的购物车中商品的件数
        function  showNum(){
            $.getJSON("/cart/cartCount",function(result){
                $("[name=num]").text(result);
                if(result==0){
                    $("[name=numSpan]").css({"background-color":" #A5A5A5"});
                }else{
                    $("[name=numSpan]").css({"background-color":"#dd00a7"});
                }
            })   ;
        }

        $(function() {
            showNum();
        });

    </script>



</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
        <div class="sidecategory">
            <h2><span></span><a data-code="1000036957" href="javascript:;" target="_blank">全部商品分类</a></h2>
            <div id="navBox" class='lisnav'>
                <div class="lisbg"></div>
                <ul class="lisnav-ul" id="lisnav">

                </ul>
                <div class="subnav" id="subnav" flag="0">
                    <div class="loading1-sync" id="loading1-sync" style="top: 0px">

                    </div>
                </div>
            </div>
        </div>
        <ul class="mainnav">

        </ul>
        <!--nav-->
        <div class="hdrsideRoll">
        </div>
        <!--scroll-->
    </div>
</div>
<!--category-->
<!--head-->
<!--headerEnd-->
<input type="hidden" id="layer_time" layer-timebetween="180" layer-timeshow="0.08">

<div id="gm_main" class="gm_main">
    <div class="focus">
        <div class="focus_img_bg">
        </div>
        <div>
            <!--轮播-->
            <ul class="focus_box">

            </ul>
            <!--下横线-->
            <ol class="nav edit-mode" modelid="1000060755" modeltype="" id="ol">
            </ol>
            <!--上下翻页-->
            <div class="slider-extra">
                <div class="btn pre" onselectstart="return false" style="-moz-user-select:none;"><span
                        class='btnbg'></span>
                    <p class='go_l' id="go_l"></p></div>
                <div class="btn nex" onselectstart="return false" style="-moz-user-select:none;"><span
                        class='btnbg'></span>
                    <p class="go_r" id="go_r"></p></div>
            </div>
        </div>
    </div>

    <div class="wbox">
        <div class="gm_sever_wrap" id="gm_sever_wrap">
            <span class="guan"></span>
            <div class="gm_sever_bg"></div>
            <div class='gm_sever gm_kuaixun4'>
                <div class="gm_kuaixun edit-mode" modelid="1000060768" modeltype="" style="height:230px;">
                    <div class="gome_news">
                        <h2 class="gome_news_title">快讯</h2>
                        <a href="gm-indexsever.html" target="_blank" data-code="indexsever001">更多<span></span></a>
                    </div>
                    <div class="gome_news_content">

                    </div>
                </div>
                <div class="icon_server_box edit-mode" modelid="1000060784" modeltype="" style="height:70px;">
                    <div class="icon_box" id="icon_box">
                        <ul class="icon_server" id="icon_server">
                            <li class="icon_server_li_bottom edit-mode" modelid="1000060786" modeltype="2">
                                <a class="icon_server_a" href="recharge.html" target="_blank" data-code="1000060785-1">
                                    <i class="gm-icon">Ò</i>
                                    <i class="icon_server_li_titile">充话费</i>
                                    <i class="icon_server_li_triangle"></i>
                                </a>
                            </li>
                            <li class="icon_server_li_bottom edit-mode" modelid="1000060789" modeltype="2">
                                <a class="icon_server_a" href="flowindex.html" target="_blank" data-code="1000060788-2">
                                    <i class="gm-icon">&#x0192;</i>
                                    <i class="icon_server_li_titile">充流量</i>
                                    <i class="icon_server_li_triangle"></i>
                                </a>
                            </li>
                            <li class=" edit-mode" modelid="1000060792" modeltype="2">
                                <a class="icon_server_a" href="juan.html" target="_blank" data-code="1000060791-3">
                                    <i class="gm-icon">&#x00CE;</i>
                                    <i class="icon_server_li_titile">领券</i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="icon_tab_wrap">
                        <span class="ser_cur"></span>
                        <ul class="icon_tab_content_ul">
                            <li><a gome-src="//wt.gome.com.cn/recharge/quickrecharge.html" gome="0"></a></li>
                            <li><a gome-src="//wt.gome.com.cn/recharge/quickrechargeflow.html" gome="0"></a></li>
                            <li><a gome-src="//gfs12.gomein.net.cn/T19BhgB_h_1RCvBVdK.jpg" gome="0"></a></li>
                        </ul>
                        <a class="close_icon"><i></i></a>
                    </div>
                </div>
                <div class="round edit-mode" modelid="1000074638" modeltype="">
                        <img class="lazyloading" src="picture/T1aSdXB4VT1RCvBVdK.jpg" width="250" height="130">
                        <div class="round_tittle">
                            <p class="tittle_up"><span>[</span><span class="txt">超市囤货节</span><span>]</span></p>
                            <p class="tittle_down">爆品低至5折</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="fang" id="fang">
            <span class="kai"></span>
            <p class="p1">快讯</p>
            <p class="p2">生活服务</p>
        </div>
    </div>
    <!--每日必抢无数据或网络异常可将样式改为block-->
    <div class="wbox countdown_js" style="display: none">
        <div class="loading-sync"></div>
    </div>
    <!--每日必抢-->
    <div class="countdown edit-mode" style="display: block;" modelid="1000071636" modeltype="">
        <div class="wbox countdown_main">
            <div class="count_l">
                <div class="countdown_l_t">
                    <div class="time_box"><i class="defintext">本场次剩余时间</i><i class="timego">
                        <em class="num" id="h">02</em>:<em class="num" id="m">52</em>:<em id="s" class="num">16</em>
                    </i></div>
                    <div class="click_box">
                        <img src="//gfs12.gomein.net.cn/T1ovZvBTbb1RCvBVdK.jpeg" width="40" height="40">
                        <h3>美日必抢</h3>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="countdown_l_b">
                    <div class="countdown_lists">
                        <div class="list">
                            <div class="lay first">
                                <div class="list_li 0"><a href="gm-qianggou.html" target="_blank"
                                                          title="物植 四片镜拼接 DL-01(22*22四片+免钉胶)" data-code="indextuan1">
                                    <img class="lazyloading" src="//gfs17.gomein.net.cn/T1IAxgBjDv1RCvBVdK_120.jpg"
                                         alt="物植 四片镜拼接 DL-01(22*22四片+免钉胶)" title="物植 四片镜拼接 DL-01(22*22四片+免钉胶)"
                                         width="120" height="120">
                                    <div class="p_price"><span>¥</span><i>13.90</i> <i class="del">¥19.80</i></div>
                                    <p class="p_name">物植 四片镜拼接 DL-01(22*22四片+免钉胶)</p></a></div>
                                <div class="list_li 1"><a href="gm-qianggou.html" target="_blank"
                                                          title="【限量1000件】 纸护士 竹浆本色 抽纸 3层*134抽*3包*1提(黄色)"
                                                          data-code="indextuan2"> <img class="lazyloading"
                                                                                       src="//gfs17.gomein.net.cn/T1TzDjB_Ev1RCvBVdK_120.jpg"
                                                                                       alt="【限量1000件】 纸护士 竹浆本色 抽纸 3层*134抽*3包*1提(黄色)"
                                                                                       title="【限量1000件】 纸护士 竹浆本色 抽纸 3层*134抽*3包*1提(黄色)"
                                                                                       width="120" height="120">
                                    <div class="p_price"><span>¥</span><i>9.90</i></div>
                                    <p class="p_name">【限量1000件】 纸护士 竹浆本色 抽纸 3层*134抽*3包*1提(黄色)</p></a></div>
                                <div class="list_li 2"><a href="gm-qianggou.html" target="_blank"
                                                          title="【厂家直销】农家自产鲍记天然百花蜜500克/瓶" data-code="indextuan3"> <img
                                        class="lazyloading" src="//gfs17.gomein.net.cn/T12jJQB5xv1RCvBVdK_120.jpg"
                                        alt="【厂家直销】农家自产鲍记天然百花蜜500克/瓶" title="【厂家直销】农家自产鲍记天然百花蜜500克/瓶" width="120"
                                        height="120">
                                    <div class="p_price"><span>¥</span><i>18.80</i> <i class="del">¥31.00</i></div>
                                    <p class="p_name">【厂家直销】农家自产鲍记天然百花蜜500克/瓶</p></a></div>
                                <div class="list_li 3"><a href="gm-qianggou.html" target="_blank"
                                                          title="郁美净l儿童霜25g*5盒 宝宝婴儿面霜润肤乳液鲜奶滋润保湿国货护肤品(25g/袋)"
                                                          data-code="indextuan4"> <img class="lazyloading"
                                                                                       src="//gfs17.gomein.net.cn/T117hjBCDv1RCvBVdK_120.jpg"
                                                                                       alt="郁美净l儿童霜25g*5盒 宝宝婴儿面霜润肤乳液鲜奶滋润保湿国货护肤品(25g/袋)"
                                                                                       title="郁美净l儿童霜25g*5盒 宝宝婴儿面霜润肤乳液鲜奶滋润保湿国货护肤品(25g/袋)"
                                                                                       width="120" height="120">
                                    <div class="p_price"><span>¥</span><i>12.50</i> <i class="del">¥13.90</i></div>
                                    <p class="p_name">郁美净l儿童霜25g*5盒 宝宝婴儿面霜润肤乳液鲜奶滋润保湿国货护肤品(25g/袋)</p></a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="countdown_btn index_pabs" style="display: none;">
                    <div class="j_btn prebtn" onselectstart="return false" style="-moz-user-select:none;"><span
                            class="btnbg"></span>
                        <p class="go_icon btn_l"></p></div>
                    <div class="j_btn nexbtn" onselectstart="return false" style="-moz-user-select:none;"><span
                            class="btnbg"></span>
                        <p class="go_icon btn_r"></p></div>
                </div>
            </div>
            <div class="count_r edit-mode" modelid="1000071645" modeltype="2" style="background:url() no-repeat">
                    <img class="lazyloading" src="//gfs13.gomein.net.cn/T1B9xXBmJv1RCvBVdK.jpg" title="" width="240"
                         height="252">
            </div>
        </div>
    </div>
</div>
<!--卷-->
<div class="quan_out wbox edit-mode" modelid="1000079893" modeltype="">
    <div class="mini">
        <div class="index_fl edit-mode" modelid="1000079894" modeltype="2">
            <a href="juan.html" target="_blank" data-code="1000079894-1">
                <img class="lazyloading" src="//gfs11.gomein.net.cn/T1K9ZvB5Kj1RCvBVdK.jpg"
                     data-lazy-init="//gfs11.gomein.net.cn/T1K9ZvB5Kj1RCvBVdK.jpg" data-lazy-img="done" width="122"
                     height="110">
            </a>
        </div>
        <ul class="index_fl list_out clearfix edit-mode" modelid="1000079895" modeltype="2">
            <li class="index_fl quan_list num1">
                <a class="" href="juan.html" target="_blank" data-code="1000079895-1">
                    <img src="//gfs10.gomein.net.cn/T1zu_XBsLv1RCvBVdK.jpg"
                         data-lazy-init="//gfs10.gomein.net.cn/T1zu_XBsLv1RCvBVdK.jpg" data-lazy-img="done" width="209"
                         height="110">
                </a>
            </li>
            <li class="index_fl quan_list num2">
                <a class="" href="juan.html" target="_blank" data-code="1000079895-2">
                    <img src="//gfs11.gomein.net.cn/T1oPxXBmxv1RCvBVdK.jpg"
                         data-lazy-init="//gfs11.gomein.net.cn/T1oPxXBmxv1RCvBVdK.jpg" data-lazy-img="done" width="209"
                         height="110">
                </a>
            </li>
            <li class="index_fl quan_list num3">
                <a class="" href="juan.html" target="_blank" data-code="1000079895-3">
                    <img src="//gfs10.gomein.net.cn/T1XLEXBsxT1RCvBVdK.jpg"
                         data-lazy-init="//gfs10.gomein.net.cn/T1XLEXBsxT1RCvBVdK.jpg" data-lazy-img="done" width="209"
                         height="110">
                </a>
            </li>
            <li class="index_fl quan_list num4">
                <a class="" href="juan.html" target="_blank" data-code="1000079895-4">
                    <img src="//gfs12.gomein.net.cn/T1qLVXByJ_1RCvBVdK.jpg"
                         data-lazy-init="//gfs12.gomein.net.cn/T1qLVXByJ_1RCvBVdK.jpg" data-lazy-img="done" width="209"
                         height="110">
                </a>
            </li>
            <li class="index_fl quan_list num5">
                <a class="" href="juan.html" target="_blank" data-code="1000079895-5">
                    <img src="//gfs12.gomein.net.cn/T1LuLXBKEv1RCvBVdK.jpg"
                         data-lazy-init="//gfs12.gomein.net.cn/T1LuLXBKEv1RCvBVdK.jpg" data-lazy-img="done" width="209"
                         height="110">
                </a>
            </li>
        </ul>
        <div class="index_fr quan_r edit-mode" modelid="1000079896" modeltype="2">
            <a href="juan.html" target="_blank" data-code="1000079896-1">
                <img class="lazyloading" src="//gfs10.gomein.net.cn/T13MDvBjC_1RCvBVdK.jpg"
                     data-lazy-init="//gfs10.gomein.net.cn/T13MDvBjC_1RCvBVdK.jpg" data-lazy-img="done" width="39"
                     height="110">
            </a>
        </div>
    </div>
</div>

<div class="lazy-fn-wrap clearfix async">
    <!--六楼-->
    <div class="floor wbox edit-mode" modelid="1000060859" modeltype="" data-title="手机通讯" id="item-1"
         data-time="7087767e-d7d5-4505-9d6c-a9f4361bed72">
        <div class="ct temp0">
            <div class="mt" style="border-bottom:1px solid #719ef7">
                <div class="mtTop"><span class="h2_text">1F</span>
                    <h2>手机通讯</h2></div>
                <ul class="tab" floor-info="1" hcolor="#719ef7" id="groundFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #719ef7">
                    <a class="mc_l_img edit-mode"
                       href="https://prom.gome.com.cn/html/prodhtml/topics/201709/18/7456103420.html"
                       data-code="1000060861" target="_blank" modelid="1000060861" modeltype="2">
                        <img class="lazyloading" src="//gfs11.gomein.net.cn/T17JAXBsEv1RCvBVdK.png"
                             data-lazy-init="//gfs11.gomein.net.cn/T17JAXBsEv1RCvBVdK.png" data-lazy-img="done" alt="小米"
                             title="" width="220" height="278"></a>
                    <div class="keyAll" id="groundKey">

                    </div>
                </div>
                <div class="main_warp" id="groundFloor_div">

                </div>
            </div>
        </div>
    </div>
    <div class="floor wbox edit-mode" modelid="1000061267" modeltype="" data-title="电脑数码" id="item-2"
         data-time="e8e7624f-4570-4df8-990f-b606fa9dc20b">
        <div class="ct temp0">
            <div class="mt" style="border-bottom:1px solid #50bfec">
                <div class="mtTop"><span class="h2_text">2F</span>
                    <h2>电脑数码</h2></div>
                <ul class="tab" floor-info="2" hcolor="#50bfec" id="secondFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #50bfec">
                    <a class="mc_l_img edit-mode"
                       href="//prom.gome.com.cn/html/prodhtml/topics/201710/9/1175495886.html" data-code="1000061269"
                       target="_blank" modelid="1000061269" modeltype="2">
                        <img class="lazyloading" src="//gfs12.gomein.net.cn/T1W_DsB5Jv1RCvBVdK.png"
                             data-lazy-init="//gfs12.gomein.net.cn/T1W_DsB5Jv1RCvBVdK.png" data-lazy-img="done" alt="小米"
                             title="" width="220" height="278"></a>
                    <div class="keyAll" id="secondKey">

                    </div>
                </div>
                <div class="main_warp" id="secondFloor_div">

                </div>
            </div>
            <ul class="wbox fl_b edit-mode" modelid="1000061284" modeltype="2">
                <li>
                    <a href="//prom.gome.com.cn/html/prodhtml/topics/201712/27/7109918241.html" data-code="1000061284-1"
                       target="_blank">
                        <img class="lazyloading" src="//gfs11.gomein.net.cn/T1HnCXBjhT1RCvBVdK.jpg"
                             data-lazy-init="" data-lazy-img="done"
                             alt="2楼下-通栏1" title="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="floor wbox edit-mode" modelid="1000061165" modeltype="" data-title="家用电器" id="item-3"
         data-time="0e2fd736-a269-4b6a-926a-762758d4765a">
        <div class="ct temp0">
            <div class="mt" style="border-bottom:1px solid #7f86ec">
                <div class="mtTop"><span class="h2_text">3F</span>
                    <h2>家用电器</h2></div>
                <ul class="tab" floor-info="3" hcolor="#7f86ec" id="threeFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #7f86ec">
                    <a class="mc_l_img edit-mode" href="//pinpai.gome.com.cn/10000980/index.html" data-code="1000061167"
                       target="_blank" modelid="1000061167" modeltype="2">
                        <img class="lazyloading" src="//gfs13.gomein.net.cn/T1WCVXBjCT1RCvBVdK.png"
                             data-lazy-init="//gfs13.gomein.net.cn/T1WCVXBjCT1RCvBVdK.png" data-lazy-img="done"
                             alt="TCL电视" title="" width="220" height="278"></a>
                    <div class="keyAll" id="threeKey">

                    </div>
                </div>
                <div class="main_warp" id="threeFloor_div">

                </div>
            </div>
        </div>
    </div>
    <div class="floor wbox edit-mode" modelid="1000061063" modeltype="" data-title="厨房卫浴" id="item-4"
         data-time="04d20ba6-8fb9-4a8e-b749-d552dabd70eb">
        <div class="ct temp1">
            <div class="mt" style="border-bottom:1px solid #41ccb8">
                <div class="mtTop"><span class="h2_text">4F</span>
                    <h2>厨房卫浴</h2></div>
                <ul class="tab" floor-info="4" hcolor="#41ccb8" id="fourFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #41ccb8">
                    <a class="mc_l_img edit-mode" href="//pinpai.gome.com.cn/100001039/index.html"
                       data-code="1000061065" target="_blank" modelid="1000061065" modeltype="2">
                        <img class="lazyloading" src="//gfs13.gomein.net.cn/T1tQJQBvxT1RCvBVdK.jpg"
                             data-lazy-init="//gfs13.gomein.net.cn/T1tQJQBvxT1RCvBVdK.jpg" data-lazy-img="done"
                             alt="生活家电" title="" width="220" height="278"></a>
                    <div class="keyAll" id="fourKey">

                    </div>
                </div>
                <div class="main_warp" id="fourFloor_div">

                </div>
            </div>
        </div>
    </div>
    <div class="floor wbox edit-mode" modelid="1000061471" modeltype="" data-title="家居家装" id="item-5"
         data-time="ded5c039-2b54-4923-982c-b934775b9574">
        <div class="ct temp1">
            <div class="mt" style="border-bottom:1px solid #abce5b">
                <div class="mtTop"><span class="h2_text">5F</span>
                    <h2>家居家装</h2></div>
                <ul class="tab" floor-info="6" hcolor="#abce5b" id="fiveFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #abce5b">
                    <a class="mc_l_img edit-mode" href="//homes.gome.com.cn/" data-code="1000061473" target="_blank"
                       modelid="1000061473" modeltype="2">
                        <img class="lazyloading" src="//gfs11.gomein.net.cn/T16rbjBKWT1RCvBVdK.png"
                             data-lazy-init="//gfs11.gomein.net.cn/T16rbjBKWT1RCvBVdK.png" data-lazy-img="done" alt="中心"
                             title="" width="220" height="278"></a>
                    <div class="keyAll" id="fiveKey">

                    </div>
                </div>
                <div class="main_warp" id="fiveFloor_div">

                </div>
            </div>
        </div>
    </div>
    <div class="floor wbox edit-mode" modelid="1000061573" modeltype="" data-title="汽车用品" id="item-6"
         data-time="51d787a5-a9a7-4b53-84f5-42a1bd2e0ea2">
        <div class="ct temp0">
            <div class="mt" style="border-bottom:1px solid #829daa">
                <div class="mtTop"><span class="h2_text">6F</span>
                    <h2>汽车用品</h2></div>
                <ul class="tab" floor-info="7" hcolor="#829daa" id="sixFloor">

                </ul>
            </div>
            <div class="mc">
                <div class="mc_l" style="background: #829daa">
                    <a class="mc_l_img edit-mode" href="https://mall.gome.com.cn/80016571/" data-code="1000061575"
                       target="_blank" modelid="1000061575" modeltype="2">
                        <img class="lazyloading" src="//gfs11.gomein.net.cn/T1CSEsBbAv1RCvBVdK.png"
                             data-lazy-init="//gfs11.gomein.net.cn/T1CSEsBbAv1RCvBVdK.png" data-lazy-img="done" alt="内购"
                             title="" width="220" height="278"></a>
                    <div class="keyAll" id="sixKey">

                    </div>
                </div>
                <div class="main_warp" id="sixFloor_div">
                </div>
            </div>
        </div>
    </div>
</div>
﻿
<div class="wbox hotlist_js" style="display: none">
    <div class="loading-sync"></div>
</div>
<div class="wbox hotlist" style="display: block">
    <div class="hot_l">
        <div class="gm_title"><h2>热销榜</h2><span>HOT</span><a class="hot_more index_fr" target="_blank"
                                                             href="gm-ranking.html"><b class="index_fl">更多好货</b><b
                class="arrow index_fl"></b></a></div>
        <div class="hot_m">

        </div>
    </div>
    <div class="hot_r edit-mode" modelid="1000074500" modeltype="">
        <div class="gm_title edit-mode" modelid="1000074501" modeltype="2">
            <h2>家电服务</h2>
            <span>SERVICE</span>
            <div class="hot_word index_fr edit-mode" modelid="1000074502" modeltype="2">
                <a class="num1" target="_blank" href="//mall.gome.com.cn/80011410/2-B00306927-1-0.html"
                   data-code="1000074502-1">
                    家电清洗
                </a>/
                <a class="num2" target="_blank" href="//mall.gome.com.cn/80011410/2-B00306928-1-0.html"
                   data-code="1000074502-2">
                    手机维修
                </a>
            </div>
        </div>
        <div class="Housekeeper">
            <ul>
                <li class="lists lists_1">
                    <a class="clearfix out" target="_blank" href="//item.gome.com.cn/A0005820755-pop8008711247.html"
                       data-code="1000074503-1">
                        <div class="index_fl index_pr goods">
                            <img class="img lazyloading edit-mode" modelid="1000074504" modeltype="1"
                                 data-lazy-img="done"
                                 data-lazy-init="//img11.gomein.net.cn/image/prodimg/promimg/topics/201711/201711091729040141.png"
                                 src="//img11.gomein.net.cn/image/prodimg/promimg/topics/201711/201711091729040141.png"
                                 width="120" height="120" alt="油烟机免拆清洗">
                            <div class="house_ser index_pabs edit-mode" modelid="1000074505" modeltype="2">
                                <div class="lang"><span class="point">上门服务</span></div>
                                <div class="lang"><span class="point">深度清洁</span></div>
                                <div class="lang"><span class="point">杀菌率高</span></div>
                            </div>
                        </div>
                        <div class="index_fl right">
                            <div class="tittle">
                                油烟机免拆清洗
                            </div>
                            <div class="price_out price" data-target="p-price" data-skuid="pop8008711247"><span>¥</span><span
                                    class="price minPrice">142.00</span>起
                            </div>
                            <div class="des edit-mode" title="随时预约，快速响应" modelid="1000074506" modeltype="2">
                                <span>随时预约，快速响应</span>
                                <span>上门服务，安全更便捷</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="lists lists_2">
                    <a class="clearfix out" target="_blank" href="//item.gome.com.cn/A0006190079-pop8009822126.html"
                       data-code="1000074507-2">
                        <div class="index_fl index_pr goods">
                            <img class="img lazyloading edit-mode" modelid="1000074508" modeltype="1"
                                 data-lazy-img="done" data-lazy-init="//gfs13.gomein.net.cn/T1kEKvByK_1RCvBVdK.png"
                                 src="//gfs13.gomein.net.cn/T1kEKvByK_1RCvBVdK.png" width="120" height="120"
                                 alt="iphone6更换电池">
                            <div class="house_ser index_pabs edit-mode" modelid="1000074509" modeltype="2">
                                <div class="lang"><span class="point">上门服务</span></div>
                                <div class="lang"><span class="point">原厂品质</span></div>
                                <div class="lang"><span class="point">安全高效</span></div>
                            </div>
                        </div>
                        <div class="index_fl right">
                            <div class="tittle">
                                iphone6更换电池
                            </div>
                            <div class="price_out price" data-target="p-price" data-skuid="pop8009822126"><span>¥</span><span
                                    class="price minPrice">199.00</span>起
                            </div>
                            <div class="des edit-mode" title="随时预约，快速响应" modelid="1000074510" modeltype="2">
                                <span>随时预约，快速响应</span>
                                <span>上门服务，安全更便捷</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom_bg">
</div>
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-pz"></i>品质</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">正品行货 购物无忧</a></li>
        <li><a data-code="1000043126-1" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-dj"></i>低价</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">普惠实价 帮你省钱</a></li>
        <li><a data-code="1000043126-2" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-sd"></i>速达</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">专业配送 按时按需</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="javascript:;" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="picture/grey.gif" gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="picture/grey.gif" gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="javascript:;" target="_blank"><img
                            src="picture/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>

<!--楼层导航栏--->
<div id="elevator" class="elevator" style="z-index: 960; position: fixed; left: 5px; top: 128.5px; display: none;">
    <div class="fl_nav">楼层导航</div>
    <ul>
        <li class="handler" data-idx="1"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>1F</span>

            <p>手机通讯</p></a></li>
        <li class="handler" data-idx="2"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>2F</span>
            <p>电脑数码</p></a></li>
        <li class="handler" data-idx="3"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>3F</span>
            <p>家用电器</p></a></li>
        <li class="handler" data-idx="4"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>4F</span>
            <p>厨房卫浴</p></a></li>
        <li class="handler" data-idx="5"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>5F</span>
            <p>家居家装</p></a></li>
        <li class="handler" data-idx="6"><b class="etitle" href="javascript:;"></b><a
                href="javascript:;"><span>6F</span>
            <p>汽车用品</p></a></li>
    </ul>
    <ul class="fl_goto">
        <li class="flTop"><a href="javascript:;" class=""></a></li>
        <li class="fl_bottom"><a href="javascript:;" class=""></a><span></span></li>
    </ul>
</div>


<!--样式-->
<script type="text/javascript">
    var showIndex = 0;
    var timer;
    $(function () {
        //倒计时
        leftTimer();
        //-----------------------轮播-------------------
        startTimer();
        //上一张
        $("#go_l").click(function () {
            clearInterval(timer);
            if (showIndex == 0) showIndex = 8;
            showIndex--;
            showImg();
            startTimer();
        });
        //下一张
        $("#go_r").click(function () {
            clearInterval(timer);
            if (showIndex == 7) showIndex = -1;
            showIndex++;
            showImg();
            startTimer();

        });
        //--------------------悬浮商品分类特效-------------------------
        $("#lisnav li").live("hover",this,
            function () {
                $(this).addClass("bgw").siblings().removeClass("bgw");
                $("#subnav").show();
                var index = $(this).attr("cid");
                $("#cid-" +index).show().siblings().hide();
                // $("#loading1-sync>div").eq(index);
            }
        );
        //分类框失去焦点事件
        $("#navBox,#subnav").hover(
            function () {
            },
            function () {
                $("#subnav").hide();
                $("#lisnav li").removeClass("bgw");
            }
        );
        //6F小分类悬浮事件
        floorHover("#groundFloor li","rgb(113, 158, 247)","#groundFloor_div>div");
        floorHover("#secondFloor li","rgb(80, 191, 236)","#secondFloor_div>div");
        floorHover("#threeFloor li","#7f86ec","#threeFloor_div>div");
        floorHover("#fourFloor li","#41ccb8","#fourFloor_div>div");
        floorHover("#fiveFloor li","#abce5b","#fiveFloor_div>div");
        floorHover("#sixFloor li","#829daa","#sixFloor_div>div");
        //-----------------楼层导航栏-------------------------
        //给楼层加悬浮变色
        $(".handler").hover(
            function () {
                $(this).addClass("hover").siblings().removeClass("hover");
            },
            function () {
                $(this).removeClass("hover");
            }
        );
        //顶层和底层添加悬浮事件
        $(".flTop").hover(
            function () {
                $(".flTop a").addClass("hover");
            },function () {
                $(".flTop a").removeClass("hover");
            }
        );
        $(".fl_bottom").hover(
            function () {
                $(".fl_bottom a").addClass("hover");
            },function () {
                $(".fl_bottom a").removeClass("hover");
            }
        );

        //给窗口加滚动条事件
        $(window).scroll(function () {
            var ling = $(document).scrollTop();
            // 如果滚动距离大于1534的时候让滚动框出来
            if (ling > 900) {
                $('#elevator').show();
            }
            if (ling > 4000 || ling < 900) {
                $('#elevator').hide();
            }
            var sTop = $(window).scrollTop() + 400;
            //获取6层楼相对应得位置
            var floor1 = $("#item-1").offset().top;
            var floor2 = $("#item-2").offset().top;
            var floor3 = $("#item-3").offset().top;
            var floor4 = $("#item-4").offset().top;
            var floor5 = $("#item-5").offset().top;
            var floor6 = $("#item-6").offset().top;
            //滚到相对应得楼层添加样式
            if(sTop > floor1){
                $(".handler").eq(0).delay(300).addClass("current").siblings("li").removeClass("current");
            }
            if(sTop > floor2){
                $(".handler").eq(1).delay(300).addClass("current").siblings("li").removeClass("current");
            }
            if(sTop > floor3){
                $(".handler").eq(2).delay(300).addClass("current").siblings("li").removeClass("current");
            }
            if(sTop > floor4){
                $(".handler").eq(3).delay(300).addClass("current").siblings("li").removeClass("current");
            }
            if(sTop > floor5){
                $(".handler").eq(4).delay(300).addClass("current").siblings("li").removeClass("current");
            }
            if(sTop > floor6){
                $(".handler").eq(5).delay(300).addClass("current").siblings("li").removeClass("current");
            }
        });
        //楼层点击事件 定位到楼层
        $(".handler").click(function () {
            var id = $(this).attr("data-idx");
            $(this).addClass("current").siblings().removeClass("current");
            var h = $("#item-" + id).offset().top;
            $('body,html').animate({ scrollTop: h }, 200);

        });
        //返回顶部
        $(".flTop").click(function () {
            $('#elevator').hide();
            $('body,html').animate({"scrollTop":"0"},1000);
        });
        //返回底部
        $(".fl_bottom").click(function () {
            $('#elevator').hide();
            var h=$("#gome-foot").offset().top;
            $('body,html').animate({"scrollTop":h},1000);
        });
    });
     //六楼悬浮事件
    function floorHover(floor1,color,floor2) {
        $(floor1).live("hover",this,
            function () {
                $(this).addClass("cur").siblings().removeClass("cur");
                $(this).find("a").css("background",color);
                $(this).siblings().find("a").css("background","none");
                //悬浮显示div
                var key=$(this).attr("key");
                $(floor2).eq(key).show().siblings().hide();
            }
        );
    }

    function startTimer() {
        timer = setInterval(function () {
            showIndex++;
            if (showIndex >= 8) showIndex = 0;
            showImg();
        }, 4000);
    }

    function showImg() {
        // $("ul.focus_box li").stop(true, true);
        $("ul.focus_box li").css("display", "none").eq(showIndex).css("display", "block");
        $("#ol li").removeClass("cur").eq(showIndex).addClass("cur");
    }

    //倒计时
    function leftTimer(year,month,day,hour,minute,second) {
        var newDate = new Date();
        var newDate1 = new Date(year,month-1,day,hour,minute,second);
        var leftTime = (new Date(year,month-1,day,hour,minute,second)) - (new Date()); //计算剩余的毫秒数
        var days = parseInt(leftTime / 1000 / 60 / 60 / 24 , 10); //计算剩余的天数
        var hours = parseInt(leftTime / 1000 / 60 / 60 % 24 , 10); //计算剩余的小时
        var minutes = parseInt(leftTime / 1000 / 60 % 60, 10);//计算剩余的分钟
        var seconds = parseInt(leftTime / 1000 % 60, 10);//计算剩余的秒数
        if (seconds<0) {
            $(".time_box").css('display', 'none');
        } else{
            days = fix(days,2);
            hours = fix(hours,2);
            minutes = fix(minutes,2);
            seconds = fix(seconds,2);
            setTimeout("leftTimer(2019,9,17,22,0,0)",1000);
            document.getElementById("h").innerHTML=hours;
            document.getElementById("m").innerHTML=minutes;
            document.getElementById("s").innerHTML=seconds;

        }

    }
    //fix函数：将1~9的1位数转换成01~09的格式
    function fix(num, length) {
        return ('' + num).length < length ? ((new Array(length + 1)).join('0') + num).slice(-length) : '' + num;
    }

</script>


</body>
</html>


