<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>领券中心</title>
    <meta name="description" content="国美在线(Gome.com.cn)-quantest">
    <meta name="Keywords" content="quantest">
    <!-- 启用360浏览器的极速模式(webkit) – -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="applicable-device" content="pc">
    <link rel="canonical" href="https://lingquan.gome.com.cn/">
    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/menu.js"></script>

    <link rel="stylesheet" href="css/201908211806.css">
    <link href="css/Css.css" rel="stylesheet">
    <style>
        .template-html img {
            background: url(static/image/juan/T18hDvBj_g1RCvBVdK.png) #efefef no-repeat center;
        }

        .gome-cms-floor-inner {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body data-page='prom67' data-channelid="channel67">
<!--newads-->
<div id="gome-topad-sm" class="gome-topad">
</div>
<!--gome_topad-->
<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>
<!--gome_top-->
<div id="gome-head" class="wbox">
    <div id="logo"><a data-code="public03001" href="javascript:;">国美</a></div>
    <div id="slogan"></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="//search.gome.com.cn/search">
                <div id="search-type-dropdown">
                    <div class="search-type">
                        <span class="search-type-selected" data-selected="">商品</span>
                    </div>
                </div>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off"
                       onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button type="button" class="search-btn">搜索</button>
            </form>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce', targetType = 'Production', contentLabels = 'Catalog', language = 'chinese';
        </script>
    </div>
</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
        <div class="sidecategory">
            <h2><span></span><a data-code="1000036957" href="javascript:;" target="_blank">全部商品分类</a></h2>
            <div id="navBox" class='lisnav'>
                <div class="lisbg"></div>
                <ul class="lisnav-ul" id="lisnav">

                </ul>
                <div class="subnav" id="subnav" flag="0">
                    <div class="loading1-sync" id="loading1-sync">
                    </div>
                </div>
            </div>
        </div>
        <ul class="mainnav">

        </ul>
    </div>
</div>
<!--category-->
<!--head-->
<div class="clearfix template-html">
    <div class="gome-cms-floor" data-rowid="673522" lazy-id="F0">
        <div class="gome-cms-floor-inner" style="width:1200px;">
            <style>
                .bg_grey .coupon_wbox_img .coupon_wbox_red_s_img {
                    width: 142px;
                }
            </style>
            <div class="bg_grey quancenter" data-code-id="3771399057347635">
                <div class="wbox">

                </div>
            </div>
            <!-- 校验码 -->
        </div>
    </div>
    <div class="gome-cms-floor" data-rowid="151062" lazy-id="F1">
        <div class="gome-cms-floor-inner" style="width:1200px;">
            <div class="bg_white">
                <div class="wbox cMarket">
                    <div class="cM_herder clearfix">
                        <h2 class="cM_tit">领券集市</h2>

                    </div>
                    <div class="cM_navTwo">
                        <div class="cM_Type">
                            <a href="javascript:;" data-value="0" class="sort active">全部</a>
                            <a href="javascript:;" data-value="1" class="sort">即将过期</a>
                            <a href="javascript:;" data-value="2" class="sort">面值最大</a>
                            <a href="javascript:;" data-value="99" class="type active" style="display:none">全部类型</a>
                        </div>
                    </div>
                    <div class="cM_couponWrap">
                        <div class="product-waiting" id="product-waiting" style="display: none;"></div>
                        <ul class="cM_coupon clearfix" id="coupon">
                           <li data-quanid="1e681a3b68384f9a89d2ad5efa65af63" data-coupontype="blue" data-bustype=""
                                data-couponrule="P16351668">
                                <div class="cMc_style cmblue_bg cmgray_bg">
                                    <div class="cMPrice"><em>¥</em> <strong>30.</strong> <span>00</span></div>
                                    <p class="cMInfo"><em>【线上专享】</em>满100.00可用 </p>
                                    <p class="cMTime">2019.8.16 - 2019.8.31</p></div>
                                <div class="cM_text"><p
                                        style="padding:10px 20px 0px 18px;height:50px;white-space:inherit;text-overflow:inherit"
                                        title="仅自营冰箱洗衣机app端指定商品可用">使用范围：仅自营冰箱洗衣机app端指定商品可用</p>
                                    <a href="javascript:;">立即领券</a></div>
                                <div class="broughtout"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wbox clearfix">
                    <div class="wbox clearfix">
                        <div class="pager" id="pager"></div>
                    </div>
                </div>
            </div>
            <!-- 校验码 -->
        </div>
    </div>
    <style> .template-html {
        background-color: transparent;
    }

    [data-code-id="3771399057347635"] {
        background-color: transparent;
    } </style>
</div>
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-pz"></i>品质</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">正品行货 购物无忧</a></li>
        <li><a data-code="1000043126-1" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-dj"></i>低价</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">普惠实价 帮你省钱</a></li>
        <li><a data-code="1000043126-2" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-sd"></i>速达</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">专业配送 按时按需</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="javascript:;" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="picture/grey.gif" gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="picture/grey.gif" gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="javascript:;" target="_blank"><img
                            src="static/picture/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $.getJSON("/coupon/couponFindAllQian",function(json){
            if(json!=null){
                for(var i = 0;i<json.list.length;i++){
                    var c  = json.list[i];
                    //转换时间格式
                    var dateee = new Date(c.start_time).toJSON();
                    var times= new Date(+new Date(dateee) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    var dateee2 = new Date(c.start_time).toJSON();
                    var times2= new Date(+new Date(dateee2) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    var manjian;
                    if(c.coupon_type==1){
                        manjian=""+c.category_name+"满"+c.full_money+"减"+c.coupon_money+"";
                    }else{
                        manjian="无门槛"
                    }
                    var li="<li data-quanid='fc86bd2104ac469aaff4d07d9e9b940d' data-coupontype='blue' data-bustype=''data-couponrule='P16376039'> <div class='cMc_style cmblue_bg'> <div class='cMPrice'><em>¥</em> <strong>"+c.coupon_money+".</strong> <span>00</span></div> <p class='cMInfo'><em>【线上专享】</em>"+c.coupon_name+" </p> <p class='cMTime'>"+times+" - "+times2+"</p></div> <div class='cM_text'><p style='padding:10px 20px 0px 18px;height:50px;white-space:inherit;text-overflow:inherit' title='厨房卫浴满2588减200'>使用范围："+manjian+"</p><a href='javascript:;'>立即领券</a> </div> <div class='coupon_wbox_content_line' style='margin-left: 17px;margin-top: 6px'> <div class='line'> <b class='red_line' style='width: "+c.count/c.coupon_count*100+"%;'></b> </div> <div class='red_line_r'>剩余"+(c.coupon_count-c.count)/c.coupon_count*100+"%</div> </div> </li>";
                    $("ul#coupon").append(li);
                }
            }
        });
    })

</script>
</body>
</html>