<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta name="keyword" content="我的退款详情 - 国美">
    <meta name="description" content="">
    <title>我的退款详情 - 国美</title>
    <link rel="dns-prefetch" href="//img.gomein.net.cn">
    <link rel="dns-prefetch" href="//img1.gomein.net.cn">
    <link rel="dns-prefetch" href="//img3.gomein.net.cn">
    <link rel="dns-prefetch" href="//img4.gomein.net.cn">
    <link rel="dns-prefetch" href="//css.gomein.net.cn">
    <link rel="dns-prefetch" href="//js.gomein.net.cn">
    <link rel="dns-prefetch" href="//app.gomein.net.cn">
    <link rel="canonical" href="//www.gome.com.cn">
    <link rel="shortcut icon" href="//app.gomein.net.cn/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
          href="//css.gomein.net.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/cart/1.0.0/css/headCart.min.css,gmpro/1.0.0/public/member/css/memberHead.css,gmpro/1.0.0/public/1.0.0/css/foot.min.css,gmpro/1.0.0/public/1.0.0/css/aside.min.css?v=201909251739">
    <link rel="stylesheet"
          href="//css.gomein.net.cn/??gmpro/2.0.0/member/4.4.5/css/common/h_b_c.css,gmpro/2.0.0/member/4.4.5/css/common/vipMainHeader.css,gmpro/1.0.0/cart/1.0.0/css/headCart.min.css,gmpro/2.0.0/member/4.4.5/css/common/mygome_new.css,gmpro/2.0.0/member/4.4.5/css/common/returnGood.css,gmpro/2.0.0/member/4.4.5/css/shippingGroupDetailInfo/shippingGrounpDetail.css,gmpro/2.0.0/member/4.4.5/css/myRefundDetail/myRefundDetail.css">

    <link rel="stylesheet" href="//g.alicdn.com/tp/refund/1.6.3/aio-tmall.css"/>
    <script src="js/jquery-1.8.3.js"></script>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="myRefundDetail" data-page="myhome">
<script type="text/javascript">
    var pageName = "投诉管理-我的国美",
        prop = "退款详情",
        flag = 0;
</script>
<!-- 返利的导航 -->
<!--头部end--><!--newads-->
<!--newads-->
<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>
<!--gome_top-->
<div class="main_header">
    <div class="ucGomeTopic">
        <div class="wbox headBox">
            <div class="myhomeLogo"></div>
            <ul class="gomeNav clearfix">
                <li class="curArrow gomeNavList">
                    <a class="bgColor" href="gm-myindex.html">首页</a></li>
                <li class="w107 gomeNavList">
                    <a href="javascript:;">账户设置<i></i></a>
                    <ul class="navList w105">
                        <li class=""><a href="accountSecurity.html">账户安全</a></li>
                        <li class=""><a href="profile.html">基本资料</a></li>
                        <li class=""><a href="addressPage.html">收货地址</a></li>
                    </ul>
                </li>
                <li class="w125 gomeNavList">
                    <a href="javascript:;" class="club">会员俱乐部<i></i></a>
                    <ul class="navList w123">
                        <li class=""><a href="vip_club.html">会员俱乐部</a></li>
                        <li><a href="vipLevel.html">会员等级</a></li>
                        <li><a href="" data-code="clubdh-libao">我的礼包</a></li>
                    </ul>
                </li>
            </ul>
            <div class="gomeTopRight">
                <!--搜索结束-->
                <!--搜索弹框-->
                <div class="searchtips" id="searchTips" style="display:none;">
                    <ul class="searchabout j-hover clearfix" id="searchTipsList"></ul>
                </div>
                <!--min 购物车-->
                <div class="shopcartbox">
                    <!--隐藏的迷你购物车列表-->
                    <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                        <div class="mini-products"><h2 class="hdrcartitle">最近加入的商品：</h2>
                            <ul class="mini-nProductLists">
                                <li class="mini-list clearfix">
                                    <dl class="nProduct-huod realMini">
                                        <dd class="mini-huod-list min-sideline-list clearfix">
                                            <div class="mini-product-info clearfix">
                                                <div class="mini-pCol-img">
                                                    <a style="position: relative;" target="_blank"
                                                       title="咏竹缘竹纤维大毛巾 福利毛巾 成人毛巾  柔软 竹纤维毛巾礼品"
                                                       href="product_details.html">
                                                        <img alt=""
                                                             src="//gfs17.gomein.net.cn/T1vAY_B4Dv1RCvBVdK_80.jpg"
                                                             width="50" height="50"></a></div>
                                                <div class="mini-pCol-name"><p><a target="_blank" class="nMinCartBlue"
                                                                                  title="咏竹缘竹纤维大毛巾 福利毛巾 成人毛巾  柔软 竹纤维毛巾礼品"
                                                                                  href="product_details.html">咏竹缘竹纤维大毛巾
                                                    福利毛巾 成人毛巾 柔软 竹纤维毛巾礼品...</a></p></div>
                                                <div class="mini-pCol-row"><span class="yuan"><b>¥20.80</b></span> <span
                                                        class="quantity">2</span> <span isclick="" mcart-count=""
                                                                                        mcart-count-min="1"
                                                                                        mcart-count-change-interval="100"
                                                                                        mcart-change-count=""
                                                                                        data-cid="5472195259"
                                                                                        data-limit="99"
                                                                                        class="mcart-count">                                                            <a
                                                        href="javascript:;" type="down" mcart-count-sub=""
                                                        class="mcart-count-btn mcart-count-sub   ">-</a>                                                            <a
                                                        href="javascript:;" type="up" mcart-count-add=""
                                                        class="   mcart-count-btn mcart-count-add  ">+</a>                                                            <div
                                                        class="mcart-count-input"><input maxlength="3" name="num"
                                                                                         type="text" value="2">                                                            </div>                                                    </span>
                                                    <a class="nLowLeight miniDel" href="javascript:void(0)" title="删除"
                                                       data-itemid="5472195259">删除</a></div>
                                            </div>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                            <div id="atg_store_csFooter1" class="cartfooter"><h4> 已选 <i><span
                                    id="csQuantity">5</span></i> 件 ，共计： <strong><span
                                    id="csSubtotal">¥</span>495.60</strong></h4>
                                <a data-code="cart01002" id="csCheckout" style="text-decoration:none;" class="gocart"
                                   href="car.html" title="去购物车"> <span>去购物车</span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--gome_head -->
<!--head-->

<style type="text/css">
    .mainheader {
        margin-bottom: 0;
    }

    .logistics {
        position: absolute;
        background-color: #ffffff;
    }

    .conbinedPayment {
        position: absolute;
        background-color: #ffffff;
    }
</style>
<div class="wbox">
    <ul class="breadcrumb">
        <li id="tx1">您的位置：</li>
        <li id="tx2"><a title="我的国美" href="gm-myindex.html">我的国美</a>&nbsp;&gt;</li>
        <li id="tx3"><a title="申请退换货" href="gm-returnPro.html">申请退换货</a>&nbsp;&gt;</li>
    </ul>
    <div class="cont-middle">
        <div class="cont-m-l">
            <div class="cont-l-body" style="width: 1000px;margin-bottom: 11px;height: 195px">
                <div id="bottomContainer_1" class="mod-container mod-grid-c2b container applyrouter-bottomContainer">
                    <div id="leftContainer_1" class="mod-container grid_m container applyrouter-leftContainer">
                        <div class="grid_m_inner"
                             style="margin:0 28px 0 0;padding-bottom:18px;width:450px;">
                            <div id="applyTypesLeftContainer_8"
                                 class="mod-applytype-item applyTypeItem applyrouter-applyTypesLeftContainer">
                                <a href="#" id="tk"
                                   title="我要退款(无需退货)"><img
                                        src="//img.alicdn.com/tps/TB1a6D0KFXXXXXvXFXXXXXXXXXX-98-88.png"
                                        alt="我要退款(无需退货)">
                                    <div class="mod-applytype-col">
                                        <h3 class="mod-applytype-tit" style="margin-top: 16px">我要退款(无需退货)</h3>
                                    </div>
                                </a>
                                <div class="mod-applytype-hide"></div>
                            </div>
                        </div>
                    </div>
                    <div id="rightContainer_1" class="mod-container grid_s container applyrouter-rightContainer"
                         style="padding-bottom:18px;width:450px;">
                        <div id="applyTypesRightContainer_6"
                             class="mod-applytype-item applyTypeItem applyrouter-applyTypesRightContainer">
                            <a href="#" title="我要退货退款" id="tkth"><img
                                    src="//img.alicdn.com/tps/TB1NHfKKFXXXXaUaXXXXXXXXXXX-102-102.png" alt="我要退货退款">
                                <div class="mod-applytype-col">
                                    <h3 class="mod-applytype-tit" style="margin-top: 16px">我要退货退款</h3></div>
                            </a>
                            <div class="mod-applytype-hide"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 1000px" class="cont-l-botoom">
                <div id="shipping-goods-list"><h3>退款商品</h3>
                    <div class="nProductHd clearfix"><span class="pCol-name vAlignC">商品</span> <span
                            class="pCol-price vAlignC" style="width: 318px">单价(元)</span> <span
                            class="pCol-nums vAlignC">数量</span></div>
                    <ul class="nProductLists">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="//help.gome.com.cn/question/37.html" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="//help.gome.com.cn/question/5658.html" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="//survey.gome.com.cn/wj/762050349c.html"
                   target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif"
                          gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif"
                          gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="//shouji.gome.com.cn/" target="_blank"><img
                            src="//gfs11.gomein.net.cn/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="//www.gomeholdings.com" target="_blank">国美控股集团</a></li>
            <li><a data-code="1000043124-1" href="//www.gomegj.com/" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="//help.gome.com.cn/about/company.html" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="//zp.gome.com.cn" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="//brand.gome.com.cn/" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="//www.gome.com.cn/topic/" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="//www.gome.com.cn/chanpin/" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="//www.gome.com.cn/hotwords/" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="//www.gome.com.cn/links/" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="//news.gome.com.cn/4-8ef49f4b-1-8.html" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="//cps.gome.com.cn/" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="//www.gome.com.cn/join/" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="//amp.gome.com.cn" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug"
                                                                                 href="//gfs13.gomein.net.cn/T1MvVsBCJT1RCvBVdK.jpg"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug"
                                                     href="http://gfs12.gomein.net.cn/wireless/T1TQWvB_DT1RCvBVdK_1594_2253.jpg"
                                                     target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs10.gomein.net.cn/wireless/T1SdWQBXK_1RCvBVdK_2187_3157.jpg"
                target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug"
                                         href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action"
                                         target="_blank">沪ICP备11009419号/京ICP备 19011786号</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs11.gomein.net.cn/T12lAsBjdT1RCvBVdK.jpg"
                target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a class="interDrug" href="//www.gome.com.cn/companyinfo/"
                                                               target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                                      href="//gfs13.gomein.net.cn/T1_sDQB5C_1RCvBVdK.jpg"
                                                                                                      target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="http://gfs13.gomein.net.cn/T1ThLXBCW_1RCvBVdK.jpg" target="_blank">出版物经营许可证</a>
        </p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap"
                                                                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038379"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx"
               href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020180207103133000002364548-SAIC_SHOW_310000-20111216142637606716&amp;signData=MEUCIQC1/jeZWEtg92x7131WE/PdcIn+wobhHCTeFwGuSnrATwIgdmtvHOPsmE7svEq21kZgzaodmdwbXGKccHzhgqxZ5Xk="
               target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="https://ss.knet.cn/verifyseal.dll?sn=2011071100100011373&amp;comefrom=trust"
               target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="https://credit.szfw.org/CX20111018000607000618.html" target="_blank"
               rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="http://scjgj.sh.gov.cn/platform/survey/step1_phone" target="_blank"
               rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="http://www.shjbzx.cn/" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<!--aside-->


<!--<script>setTimeout(function(){$.ajax({url:stageJsServer+"/??/gmlib/unit/scodecommon/1.0.0/scodecommon.min.js?",dataType:"script"}).done(function(){})},700);</script>-->

<!--<script type="text/javascript">-->
<!--var refundRequestId = g.url.getParam("refundRequestId");-->
<!--</script>-->
<script type="text/javascript">
    $(function () {
        //悬浮字体变色
        $(".side-nav  div ul li").hover(
            function () {
                $(this).addClass("active");
            },
            function () {
                $(this).removeClass("active");
            }
        );
        //悬浮显示头上下拉款
        $(".gomeNav li").hover(
            function () {
                $(this).addClass("navCur").siblings().removeClass("navCur");
            }, function () {
                $(this).removeClass("navCur");
            }
        );
    });
</script>

<script type="text/javascript">
    $(function () {
        var url = GetRequest();
        var ono = url.ono;
        ono = ono.substring(36, ono.length);
        var gid = url.gid;
        selectGoodsInfo(gid, ono);
        returnInfo1();
        returnInfo2();
    })

    //查询当前进行退货的商品信息
    function selectGoodsInfo(gid, ono) {
        $.getJSON("Orders/findGoodsByOno", {"gid": gid, "no": ono}, function (json) {
            var li = "<li class='list clearfix gome-list'> <dl class='nProduct-tj'> <dd class='tjFirst clearfix'> <div class='pCol-img'><a title='"+json.goods_title+"' href='product_details.html?gid="+json.goods_id+"' target='_blank'> <img src='"+json.goods_main_img+"' > </a></div> <div class='pCol-name'><p><a class='nBlue' title='"+json.goods_title+"' href='product_details.html?gid="+json.goods_id+"' target='_blank'>"+json.goods_title+"</a></p></div> <div class='pCol-price vAlignC moneyFont' style='margin-left: 105px;'><em class='moneyFont'>¥</em>"+json.goods_price+"</div> <div class='pCol-nums vAlignC'>"+json.detail_num+"</div> </dd> </dl> </li>";
            $("ul.nProductLists").append(li);
        });
    }

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    function returnInfo1() {
        layui.use(['layer'], function () {
            var layer = layui.layer; //弹层
            var re=GetRequest();
            $("#tk").click(function () {
                layer.confirm('确定退款?', function(){
                     var non=re.ono.substring(36);
                     var gid=re.gid;
                     $.getJSON("/Orders/returnMoney",{"no":non,"gid":gid,"bs":1},function (json) {
                         if(json.code=="success"){
                             layer.msg("申请成功.....",{icon:1});
                         }else{
                             layer.msg("申请提交失败....",{icon:2});
                         }
                     });

                });
            });
        });

    }

    function returnInfo2() {
        layui.use(['layer'], function () {
            var layer = layui.layer; //弹层
            var re=GetRequest();
            $("#tkth").click(function () {
                layer.confirm('确定退货退款?', function(){
                    var non=re.ono.substring(36);
                    var gid=re.gid;
                    $.getJSON("/Orders/returnMoney",{"no":non,"gid":gid,"bs":2},function (json) {
                        if(json.code=="success"){
                            layer.msg("申请成功.....",{icon:1});
                        }else{
                            layer.msg("申请提交失败....",{icon:2});
                        }
                    });

                });
            });
        });

    }
</script>
</body>
</html>