<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache,no-store">
    <title>国美收银台</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.gome.com.cn/ec/homeus/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/base.css">
    <link rel="stylesheet" type="text/css" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/pay-ment.css">
    <link rel="stylesheet" type="text/css" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/intro.css">
    <script src="js/jquery-1.8.3.js"></script>
</head>
<body id="mainBody">
<div class="topnav" id="RESOURCE_PATH" attr_v="https://misc.gomein.net.cn/finance/cashier/20170926/">
    <div class="wbox" id="CASHIER_WEB_PATH" attr_v="https://gpay.gome.com.cn/">
        <input type="hidden" id="NeedlessLogin" name="NeedlessLogin" value="">
        <ul class="topmenu clearfix">

        </ul>
    </div>
</div>
<div class="jrlc-tip">
    <div class="jrlc-warp clearfix">
        <h1 class="jrlc-logo"><img id="logoImg" src="https://misc.gomein.net.cn/finance/cashier/20170926/image/1041.png"
                                   onerror="javascript:this.src='https://misc.gomein.net.cn/finance/cashier/20170926/image/1041.png'">
        </h1>
        <h3 class="h3_pay" style="color:#5e5e5e;">收银台</h3>
    </div>
</div>
<div class="jrlc-cen">
    <div class="jrlc-orderInfo">
        <script type="text/javascript">
            function weixinErrorFunc() {
                if ($("#scancode_id_weixin").attr("src") != "") {
                    window.parent.document.getElementById("pay_zhifu_colse").style.display = "none";
                    window.parent.document.getElementById("or_right_id").style.marginRight = "0px";
                }
            }
        </script>
        <div class="or_dstop clearfix" style="padding: 35px 0px 20px 31px;" id="orderInfo_PTSYT">
            <div class="or_left">

                <h3>订单提交成功，请您尽快付款。 支付单号：<span id="payNo"></span></h3>

                <input type="hidden" id="orderTime" value="20190829104959">
                <br>
            </div>
            <div class="pay_zhifu" style="top: -37px;" id="pay_zhifu_colse">
                <div id="scancode_div_id_o" style="display: none; position: absolute; top: 0px; z-index: 2;" width="100"
                     height="100" scrolling="no">
                    <img style="margin:41px 39px 34px 39px"
                         src="https://misc.gomein.net.cn/finance/cashier/20170926/image/scan_loading.gif">
                </div>
                <img style="display:block;" id="scancode_id_img" class=""
                     src="https://misc.gomein.net.cn/finance/cashier/20170926/image/ALIPAYSCANN.png" alt="支付宝"
                     width="100" height="20">
                <div class="saoma_ad" style="display:none">
                    <span id="AD_FIXED_040_B_ALIPAY"></span>
                </div>
            </div>
            <div class="or_right" id="or_right_id">
                <p class="or_allpay">应付金额<i id="yfPayMoney"></i>元</p>

                <b id="or_look" class="or_look" style="padding-top: 7px; color: rgb(0, 102, 153);">收起详情<i
                        class="shangla1"
                        style="background-position: -240px 0px;"></i></b>

            </div>
        </div>
        <div class="or_dteail" id="or_dteail" style="color: rgb(94, 94, 94); display: block;">
            <div class="adress-mess clearfix" id="adress-mess">

            </div>
            <div class="or_list clearfix" id="olist">
                <span class="or_coding">订单号：<i  id="ordNo" title=""></i></span>

            </div>
        </div>
        <div class="platform_ad" id="broadcast">
            <div id="kq_ad_id" class="kq_ad clearfix" style="display:none">
                <i class="lba"></i>
                <span id="AD_FIXED_BROADCAST" class="ad_tps"></span>
                <a href="javascript:;" class="close cl_posizion">×</a>
            </div>
        </div>
        <!--弹出层-->
        <link rel="stylesheet" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/phonecode-alert.css">
        <div class="alert" id="alert">
            <div id="phonecodeAlertDiv" style="display:none">
                <div class="thickdiv">
                    <div class="bg"></div>
                </div>
                <div class="alert-box">
                    <div class="wrap-head"><span>支付&nbsp;<i>16.00</i>元</span><a href="javascript:;" class="close">×</a>
                    </div>
                    <div class="text">
                        <p>请输入短信验证码</p>
                        <div class="al_send">
                            (已发送至<i><span id="currentTelAlert"></span></i>)
                            <b></b>
                            <div class="ph_wrong" style="display:none">
                                <i></i>
                                <span style="height: 50px;left: 0;position: absolute;top: -25px;width: 260px;"></span>
                                <p>手机号码有误？</p>
                                <span>1.请确认该预留手机号是当前使用手机号</span>
                                <span>2.若银行预留手机号已停用，请联系银行修改</span>
                                <span>3.获取更多帮助，可以联系<a href="http://cs.gome.com.cn/?entry=composite&amp;orgi=111111"
                                                      target="_blank">在线客服</a></span>
                            </div>
                        </div>
                        <div class="put_code">
                            <input type="text" id="codeAlert" class="code" maxlength="6">
                            <div class="code_tip">
                                <span id="sendSuccessShow" style="display:inline-block;">短信验证码已发送，请注意查收</span>
                                <span class="font-red" style="display:none;">短信验证码错误，请您核对或重新获取</span>
                                <b>清空</b>
                            </div>
                            <div class="code_time">
                                <span id="downtimeAlert" style="display:none;"></span><!---->
                                <span id="repeatGet" class="new_code">重新获取验证码</span>
                                <i class="line"></i>
                                <a href="javascript:void(0);">关闭</a>
                            </div>
                        </div>
                        <div class="pay_wait" style="display:none;">
                            <p>支付中<img src="https://misc.gomein.net.cn/finance/cashier/20170926/image/progress.gif"
                                       alt="支付中"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/myCards.css">
        <link rel="stylesheet" href="https://misc.gomein.net.cn/finance/cashier/20170926/css/myb-pay.css">

        <div class="platform platform-nomyb platform1-top" id="mycards" style="display:none;">

            <div id="myb_gotopay" style="">
                <p class="pay_checkway clearfix" id="myb_password" style="display:none">
		    <span class="pay-pswd clearfix" style="display:none">
		        <span class="myb-prompt" id="myb-prompt" onclick="promptClick()">请输入国美支付密码</span>
		    	<input type="password" id="myb_password_text" value="" onfocus="focus_common('myb_password_text','')"
                       maxlength="20" onblur="blur_common('myb_password_text','')"><a
                    href="http://myhome.gome.com.cn/member/accountSecurity?atc=42" target="_blank"
                    class="alinks">忘记密码</a>
		    </span>
                </p>
                <p class="pay_checkway clearfix" id="myb-gotopay" style="display:none">
                    <a href="javascript:void(0)" class="btn_unable mr10 mr_flt">立即支付</a>
                    <b id="myb_checkway_errormsg" style="color:#d10311;padding-left:210px;padding-top: 15px;"></b>
                </p>
                <input type="hidden" name="myb_telephone" id="myb_telephone" value="">
                <input type="hidden" name="myb_transNo" id="myb_transNo" value="">
            </div>
        </div>
        <div class="platform platform-nomyb platform1-top wy_pay" id="platform-zfpt" style="display:block;">
            <dl class="platform-box">
                <dt class="platform-title">
                    <span class="price">支付<b class="heighlight" id="money"></b>元</span>
                    <label class="type"><i
                            style="display:inline-block;margin-right:5px;vertical-align:middle;position:relative"></i>平台支付</label>
                    <span class="sm"></span>

                </dt>
                <dd class="platform-con">
                    <div id="zfpt-moduleId" style="display:block">
                        <div id="chooseBankDiv" style="display:block">
                            <div class="bank-list-box" style="padding-bottom: 18px;">
                                <ul class="bank-lists clearfix bank-lst" id="bank-zfptId">
                                    <li id="ALIPAY" name="支付宝" id="pay"  onclick="pay()" class="ygbx-pay-bank hsdiscount">
                                        <img height="40"
                                             src="https://misc.gomein.net.cn/finance/cashier-web/temp/ALIPAY.png"
                                             alt="支付宝">
                                        <div class="pt_ad">
                                            <span id="AD_FIXED_050_B_ALIPAY"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>

<!-- 底部 -->
<div class="footer" id="footerHtml">
    <p>©2000-2018 国美在线电子商务有限公司 版权所有</p>
</div>
</body>
<script type="text/javascript">
    $(function () {
        //函数 ... 循环执行.
        $("#or_look").toggle(function () {
                $("#or_dteail").hide(1);
            },
            function () {
                $("#or_dteail").show();
            });

        showOrdersInfo();//显示订单信息

    });

    function pay(){
        alert(1223);
    }
    var reg = /^(\d{3})(\d*)(\d{4})$/;//电话号码中间4位为*
    //显示订单信息
    function showOrdersInfo() {
        var url = GetRequest();
        var payno = url.payno;
        payno = payno.substring(36, payno.length);
        $("#payNo").text(payno); //支付单号
        var ono = url.orderNo;
        ono = ono.substring(36, ono.length);
        $.getJSON("Orders/userPayInfo", {"orderNo": ono}, function (data) {
            var aInfo = data.addressInfo;
            var span = "<span class='or_addss'>";
            var myPhone = aInfo.phone;
            myPhone = myPhone.replace(reg, function (a, b, c, d) {
                return b + c.replace(/\d/g, "*") + d;
            });
            span += "收货地址：<i title='" + aInfo.provinceAddress.provinceName + "&nbsp;&nbsp;" + aInfo.provinceAddress.cityName + "&nbsp;&nbsp;" + aInfo.provinceAddress.districtName + "&nbsp;&nbsp;" + aInfo.provinceAddress.streetName + "'>" + aInfo.provinceAddress.provinceName + "&nbsp;&nbsp;" + aInfo.provinceAddress.cityName + "&nbsp;&nbsp;" + aInfo.provinceAddress.districtName + "&nbsp;&nbsp;" + aInfo.provinceAddress.streetName + "&nbsp;&nbsp;" + aInfo.address + "</i></span><spanclass='or_name'>&nbsp;&nbsp;收货人：<b class='get_name' title='" + aInfo.userName + "'>" + aInfo.userName + "</b><i>" + myPhone + "</i></span>"
            $("div#adress-mess").append(span);
            $("#ordNo").attr("title", data.orders.orderNo);
            $("#ordNo").text(data.orders.orderNo);
            $("#yfPayMoney").text(data.orders.total);
            $("#money").text(data.orders.total);
            for (var i = 0; i < data.goods.length; i++) {
                var g = data.goods[i];
                if(i==0){
                    var div ="<div class='shop-god clearfix'><b class='or_shopname' title='"+g.bname+"'>"+g.bname+"</b> <ul class='or_goodsname'> <li><b title='"+g.title+"'>"+g.title+"</b><i>¥"+g.money+"</i></li> </ul> </div>";
                    $("div#olist").append(div);
                }else{
                    var div = "<div class='shop-god clearfix'><span class='empty'>&nbsp;</span><b class='or_shopname' title='"+g.bname+"'>"+g.bname+"</b> <ul class='or_goodsname'><li><b title='"+g.title+"'>"+g.title+"</b><i>¥"+g.money+"</i></li> </ul> </div>";
                    $("div#olist").append(div);
                }
            }
        });
    }
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
</script>
</html>