<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc">
    <meta name="keywords" content="商品详情页面">
    <meta name="description"
          content="国美商品详情页面！">
    <meta itemprop="name" content="商品详情页面">
    <meta itemprop="description" content="商品详情页面">
    <meta itemprop="image" content="http://gfs17.gomein.net.cn/T160dXBCLT1RCvBVdK_400.jpg">
    <title>商品详情-国美</title>


    <link rel="canonical" href="http://item.gome.com.cn/A0006592644-pop8012920303.html">
    <link rel="alternate" media="only screen and(max-width: 640px)"
          href="http://item.m.gome.com.cn/product-A0006592644-pop8012920303.html">
    <meta http-equiv="mobile-agent"
          content="format=html5; url=//item.m.gome.com.cn/product-A0006592644-pop8012920303.html">
    <link rel="stylesheet" href="css/201908261736popcssdianzhao.min.c.css">

    <script src="js/product_details/201908261736gmlibunitobserverobs.js"></script>

    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">

    <script src="js/function.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.fly.min.js"></script>
    <style>
        #nav li{
            float: left;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="gome-top">
    <script>
        $(function () {
            //加载公共头部
            $(".gome-top").load("gome-top.html");
        })
    </script>
</div>
<!--gome_top-->
<div id="gome-head" class="wbox" data-need-slogan-judge="true">
    <div id="logo"><a data-code="public03001" href="javascript:;">国美</a></div>
    <div id="logo-gif"></div>
    <div class="mygome-side" data-cart="mincart">
        <ul class="topmenu clearfix">
            <li class="shopcartbox"><span class="cartlinkbox">
                <a data-code="public03004" rel="nofollow" class="menulink cartlink" id="a"><em
                        class="i-cart"><span class="shopnum" name="numSpan"><span
                        id="commerceItemQuantityId" name="num">0</span><i></i></span></em><span
                        id="hdrcarttext">我的购物车</span></a></span>

            </li>
        </ul>
    </div>
</div>
<!--gome_head -->
<!--head-->
<div style='width:100%;' class='marginauto'>
</div>
<div style='width:100%;' class='marginauto'>

    <div class='marginBotom'>
        <div class="topnav nav-color">
            <div class="nav990" style="text-align: center;">
                <ul class="clearfix">
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="index.html">首页</a></li>
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="gm-myOrder.html">我的订单</a></li>
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="gm-myindex.html">我的国美</a></li>
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="gm-indexsever.html">新闻资讯</a></li>
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="vip_club.html">会员俱乐部</a></li>
                    <li class="nav-item"><a class="nav-item-name" target="_blank" href="gm-ranking.html">热销排行榜</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-wrapper">
    <div class="breadcrumbs-container">
        <div class="left">
            <ul id="category">

            </ul>
        </div>
        <div class="right">
            <div class="ly-stores shops-name">
                <a href="javascript:;" class="btn-service hide" customer-service-button-id="80017326"
                   customer-entry="product" skuid="pop8012920303" productid="A0006592644"
                   categoryid="cat15985715_cat15985719_cat15985754" brandid="300032545"><i></i>在线客服</a>
                <div class="pop-stores-others">
                    <div class="services-wrapper">
                        <div class="services-score-detail">
                            <p><span class="detail">评分明细</span><span class="contrast">与行业对比</span></p>
                            <div class="describe ">
                                <p>商品描述：<span>4.50</span>
                                    <small title="计算规则：（商家得分-同行业平均分）/（同行业商家最高得分-同行业平均分）" class="gaoyu_text">54.16%
                                    </small>
                                    <i class="gaoyu">箭头</i>
                                </p>
                            </div>
                            <div class="logistics">
                                <p>发货速度：<span>4.50</span>
                                    <small title="计算规则：（商家得分-同行业平均分）/（同行业商家最高得分-同行业平均分）" class="gaoyu_text">51.32%
                                    </small>
                                    <i class="gaoyu">箭头</i>
                                </p>
                            </div>
                            <div class="services">
                                <p>服务质量：<span>4.50</span>
                                    <small title="计算规则：（商家得分-同行业平均分）/（同行业商家最高得分-同行业平均分）" class="gaoyu_text">8.00%
                                    </small>
                                    <i class="gaoyu">箭头</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="phone-wrapper" id="store_live800_wrap">
                        <span class="txt-phone"><i></i>18905243901</span>
                    </div>
                    <div class="company-wrapper">
                        <p>公司名称：上海遂网供应链管理有限公司
                            <a href="javascript:;" target="_blank">
                                <img gome-src="//app.gomein.net.cn/coo8images/coo8/shop/ic.jpg" width="19" height="20"
                                     alt="icon">
                            </a>
                        </p>
                        <p>所在地：&nbsp;&nbsp;宿迁市</p>
                        <input id="province_name" type="hidden" value="">
                        <input id="city_name" type="hidden" value="宿迁市">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gome-container" style="height: 400px" id="gm-main-info">
    <div class="prd-firstscreen-left">
        <div class="magnifier ">
            <div class="pic-big" style="width: 330.7692308px;height:330.7692308px;">
                <div class="jqzoom">


                </div>


                <div id="orig"
                     style="cursor: move; width: 330.7692308px;height:330.7692308px; position: absolute;margin-top: -358px;margin-left: 0px;">
                    <div class="blocks"
                         style="width:254.4378698px; height: 254.4378698px; background: rgba(254, 238, 167, .6); position: absolute; left: 0; top: 0;display: none;"></div>
                </div>
                <div class="fd"
                     style="width: 330.7692308px;height:330.7692308px; position: absolute; left: 364px; top:0px; overflow: hidden;display: none;z-index: 9999;">
                    <img src="" style="position: absolute;"/>
                </div>


            </div>

        </div>

        <div id="imgloads" style="display:none"></div>
        <input type="hidden" id="defaultfirst" value="//gfs17.gomein.net.cn/T160dXBCLT1RCvBVdK">
    </div>
    <div class="prd-firstscreen-center " id="gm-prd-main">
        <div class="hgroup">

        </div>
        <!--倒计时抢购商品-->
        <div class="prd-atmosphere-wrapper" style="display:none;">
            <div class="pa-figure">
                <div class="zBargain"><i class="ztime"></i> <span>国美抢购</span>
                    <p><b>0</b>人已购，距离结束还有 <em>22</em>:<em>20</em>:<em>32</em></p></div>
                <img src="//gfs10.gomein.net.cn/T11hZvBvbj1RCvBVdK.png "></div>
            <div class="pa-right">
                <div class="count-down"></div>
                <span class="endtime-tip"></span>
            </div>
        </div>
        <div class="yushou-entrance hide">
            <div class="yushou-entrance_left">
                <span class="label">预售中</span>
                <span class="deposittip">定金</span>
                <span class="deposit hide"><em data-before="￥" class="txt"></em></span>
                <span class="presale-price hide">预售价￥<em class="txt"></em></span>
                <div class="countdown hide" data-before="距离结束还有"></div>
            </div>
            <div class="yushou-entrance_right">
                <a href="javascript:;" target="_blank" class="goToYushou">></a>
            </div>
        </div>
        <div class="prd-price-1">
            <!--普通-->
            <div class="prd-price-other line33 p20  clearfix">
                <label class="prd-price-left">国&nbsp;&nbsp;美&nbsp;&nbsp;价</label>
                <div class="unitprice prd-price-right">
                    <span id="prdPrice" class="price">0</span>
                </div>
                <div class="prd-price-flr">
                    <div class="prd-price-line">|</div>
                    <div class="prd-price-lineright">
                        <p>好评度<em id="haocnt">0%</em></p>
                        <p class="pincnt"><a href="javascript:;" class="reduce" id="goappr"><em
                                id="pincnt">0</em>人评价</a></p>
                    </div>
                </div>
            </div>
            <!--领卷-->
            <div class="prd-price-other lanjuan-top clearfix dn">
                <label class="prd-price-left">领&#x3000;&#x3000;劵</label>
                <div class="prd-price-right lanjuan" id="lanjuan"></div>
            </div>
            <!--促销-->
            <div class="prd-price-other prd-cuxiao-other clearfix dn" id="vip">
                <div class="cuxiaobox">
                    <label class="prd-price-left cuxiao">促&#x3000;&#x3000;销</label>
                    <div class="prd-price-right prd-promotions ">
                        <div class="promotions-collapse-wrapper">
                            <div class="promotions-collapse">
                                <div class="prd-promotions-red"><label>会员价</label>
                                       <span id="showVipPrice"><span  id="huiYuanDJ" ></span> 
                                        <em class="huiYuanTeJia_text"></em>
                                            <a href="vip_club.html">更多&nbsp;<i class="s-arrow">&gt;</i></a>
                                       </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yuyuejia yuyue_price_info hide">
            <span class="prdLeft">预约价</span><strong id="promoPrice"></strong><label id="priceLable">预约中</label>
        </div>
        <div class="prd-properties" id="prd-properties_min">
            <div class="prd-properties-1">

                <div class="prd-properties-other songzhi m8" style="margin-top:30px;">
                    <label class="prd-properties-left">库　　存</label>
                    <div class="prd-properties-right" style="position:relative">
                        <span class="hasstock" id="stockTxt">有货</span>
                        <div id="show_xiangqing" class="pop-freightnote hide"></div>
                    </div>
                </div>
                <div class="prd-properties-other m12 dn">
                    <label class="prd-properties-left tesu"></label>
                    <div class="prd-properties-right fumai"></div>
                </div>

                <div class="prd-properties-other fuwu m16" style="margin-top:30px;">
                    <label class="prd-properties-left">服　　务</label>
                    <div class="prd-properties-right">
                        <span id="service_bable">由<b class="fwline">国美</b>配送并提供保障监管。</span>
                    </div>
                </div>
                <div class="prd-properties-other factory-installation dn">
                    <label class="prd-properties-left">厂家安装</label>
                    <div class="prd-properties-right">
                        <span class="factory-phone"></span>
                        <div class="more dn">
                            <a href="javascript:void(0);">帮助提示</a>
                            <div class="tips">
                                <div class="sanjiao"></div>
                                <div class="tip-body">
                                    <p class="factory-infos"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prd-properties" id="prd-properties_min">
            <div class="prd-properties-1">
                <div class="prd-properties-other m12 dn">
                    <label class="prd-properties-left tesu"></label>
                    <div class="prd-properties-right fumai"></div>
                </div>
                <div class="prd-properties-other m12 dn">
                    <label class="prd-properties-left tesu"></label>
                    <div class="prd-properties-right arrival"></div>
                </div>
                <div class="prd-properties-other factory-installation dn">
                    <label class="prd-properties-left">厂家安装</label>
                    <div class="prd-properties-right">
                        <span class="factory-phone"></span>
                        <div class="more dn">
                            <a href="javascript:void(0);">帮助提示</a>
                            <div class="tips">
                                <div class="sanjiao"></div>
                                <div class="tip-body">
                                    <p class="factory-infos"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="salesProperty" class="m20">
                <div class="prd-properties-other added-service banben  hide">
                    <label class="prdLeft">延保服务</label>
                    <div class="prdRight addedService" id="addedService">
                        <div class='more'>
                            <a href='javascript:void(0);'>帮助提示</a>
                            <div class='hide tips'>
                                <div class='sanjiao'></div>
                                <div class='tip-body'>
                                    <p>
                                        凡是在国美购买的家安保服务，在保障期间内遇到无论是正常使用中的问题还是意外事故，即可享受家安保服务。国美家安保内容包括：延长保修、只换不修、屏碎保护、意外保护、服务保障。覆盖家电、手机数码、电脑办公等商品。</p>
                                    <p class='shengming'>家安保服务，只能提供增值税普通电子发票，如有疑问，请与在线客服<span
                                            class='live800-service normal dn' customer-service-button-id="80017326"
                                            customer-entry="product" skuid="pop8012920303" productid="A0006592644"
                                            categoryid="cat15985715_cat15985719_cat15985754"
                                            brandid="300032545">在线客服</span>联系</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prd-properties-other yuyuejieshu hide" id="yuyue_daojishi">
                    <label class="prdLeft"></label>
                    <div class="prdRight">
                        <em class="d">00</em>
                        <span>天</span>
                        <em class="h">09</em>
                        <span>时</span>
                        <em class="m">11</em>
                        <span>分</span>
                        <em class="s">30</em>
                        <span>秒</span>
                        <div id="yushouCount" class="total">
                            <span>已有</span>
                            <strong>0</strong>
                            <span>人成功预约</span>
                        </div>
                    </div>
                </div>
                <!--套装商品不支持美易分-->
                <div class="prd-properties-other meiyifen dn">
                </div>
            </div>
        </div>
        <div class="prd-buttons" id="btnLink" style="margin-top: 50px;">
            <div class="count-wrapper" id="btnCount">
                <input type="text" class="quantity j-gACval" id="enterQty" maxlength="5" value="1"
                       onfocus="this.className='j-gACval quantity focus'" onblur="this.className='quantity j-gACval'"
                       autocomplete="off">
                <a href="javascript:;" class="plus j-gACbtnA">+</a>
                <a href="javascript:;" class="minus j-gACbtn">-</a>
            </div>
            <div class="remainbox dn"></div>
            <a href="javascript:;" id="yuyue" class="btn-product btn-appointment hide">立即预约</a>
            <a href="javascript:;" id="qianggou" class="btn-product btn-purchase hide">立即抢购</a>
            <a href="javascript:;" target="_blank" class="btn-product btn-yushou hide">预售</a>
            <a href="javascript:void(0);" class="btn-product btn-addcart" id="addCart">加入购物车</a>


            <script>

                function GetRequest() {
                    var url = location.search; //获取url中"?"符后的字串
                    var theRequest = new Object();
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        strs = str.split("&");
                        for (var i = 0; i < strs.length; i++) {
                            theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                        }
                    }
                    return theRequest;
                }

                //我的购物车中商品的件数
                function showNum() {
                    $.getJSON("/cart/cartCount", function (result) {
                        $("[name=num]").text(result);
                        if (result == 0) {
                            $("[name=numSpan]").css({"background-color": " #A5A5A5"});
                        } else {
                            $("[name=numSpan]").css({"background-color": "#dd00a7"});
                        }
                    });
                }

                layui.use(['layer', 'upload', 'form'], function () {
                    var layer = layui.layer,  //弹层
                        $ = layui.jquery;

                    $(function () {
                        var re = GetRequest();


                        showNum();

                        //放大镜效果

                        // 绑定鼠标移入原图窗口事件
                        $("#orig").mouseover(function (e) {
                            $(".fd").css("display", "block");
                            $(".blocks").css("display", "block");
                        });
                        //绑定鼠标在原图窗口移动的事件
                        $("#orig").mousemove(function (e) {
                            // 获取鼠标当前的位置
                            var x = e.clientX;
                            var y = e.clientY;
                            // 获取原图窗口距离文档的偏移位置
                            var sX = $("#orig").offset().left;
                            var sY = $("#orig").offset().top;
                            // 计算鼠标的相对位置（相对于原图窗口的偏移距离）
                            var mx = x - sX;
                            var my = y - sY;
                            // 让鼠标在小框框的中心
                            var mw = $(".blocks").width() / 2;
                            var mh = $(".blocks").height() / 2;
                            // 鼠标移动后小框框的移动距离
                            $(".blocks").css({
                                left: mx - mw + "px",
                                top: my - mh + "px"
                            });
                            // 获取小框框的偏移位置
                            var lw = $(".blocks").position().left;
                            var lh = $(".blocks").position().top;
                            // 判断边界（小框框只能在原图窗口范围内移动）
                            var maxW = $("#orig").width() - $(".blocks").width();
                            var maxH = $("#orig").height() - $(".blocks").height();
                            // 左边界
                            if (lw <= 0) {
                                $(".blocks").css("left", "0px");
                            }
                            // 右边界
                            if (lw >= maxW) {
                                $(".blocks").css("left", maxW + "px");
                            }
                            // 上边界
                            if (lh <= 0) {
                                $(".blocks").css("top", "0px");
                            }
                            // 下边界
                            if (lh >= maxH) {
                                $(".blocks").css("top", maxH + "px");
                            }
                            // 获取小框框的偏移位置
                            var lw = $(".blocks").position().left;
                            var lh = $(".blocks").position().top;
                            // 1.3是放大的比例
                            var newX = lw * 1.3;
                            var newY = lh * 1.3;
                            $(".fd img").css({
                                left: -newX + "px",
                                top: -newY + "px"
                            });
                        });
                        //绑定鼠标离开原图窗口事件
                        $("#orig").mouseout(function () {
                            $(".fd").css("display", "none");
                            $(".blocks").css("display", "none");
                        });



                        //点击添加到购物车
                        $("#addCart")
                            .click(function () {

                                var num = $("#enterQty").val();
                                var price;
                              var  vipPrice= $("[name=vipPrice]").text();

if(vipPrice==''){
    price = $("#prdPrice span[name='price']").text();
}else{
    price= vipPrice;
}
                                var total = num * price;

                                //添加该商品到购物车
                                $.getJSON("/cart/saveCart", {
                                    "goodsId": re.gid,
                                    "num": num,
                                    "price": price,
                                    "total": total
                                }, function (result) {
                                    layer.msg("加入购物车成功",{icon:1});
                                    if (result.msg == "新增到购物车") {
                                        //如果购物车内没有该商品,则购物车内商品的件数加1
                                        $("[name=num]").text(parseInt($("[name=num]").text()) + 1);
                                    }
                                    showNum();
                                });

                            })


                    });

                })

            </script>


            <a href="javascript:;" class="btn-product btn-stages dn" id="pay_fenQi">分期购</a>
            <a href="javascript:;" class="btn-product btn-meiyifen dn">国美易卡</a>
            <a href="javascript:;" id="easyShopping" class="btn-product btn-easeshopping dn" data_easy="1">快速购</a>

            <a href="javascript:;" class="btn-product btn-hasstock dn" id="arrival">到货通知</a>
            <a href="javascript:;" class="btn-product btn-off-loading hide">商品下架</a>
            <div class="easyShopping_box pop-easeshopping hide">
                <div class="ETooltips-arr"></div>
            </div>
            <!--参加节能补贴提示说明 start-->
            <div class="pop-energy-saving hide"></div>
            <!--参加节能补贴提示说明 end-->
            <div id="yuye_more" class="appointment-wrapper hide">
                <a href="javascript:;"><i></i>了解预约抢购</a>
                <div id="yuye_more_msg" class="hide appointment-tips">
                    <i class="btn-arrow-left"></i>
                    <p>预约抢购规则</p>
                    <p>1、欢迎预约购买，请在正式开售之后下单付款；</p>
                    <p>2、商品开售后，仅有已预约的用户可购买商品；</p>
                    <p>3、每人限购一件，先到先得。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="prd-firstscreen-right">
        <!--大数据推荐 看了又看 start-->
        <div class="bigdata-reskim"></div>
        <!--大数据推荐 看了又看 end-->
    </div>
</div>
<!--美易分二维码弹窗 start-->
<div class="pop-meiyifen dn">
    <a href="javascript:;" class="close">&times;</a>
    <div class="pop-body"><h2>国美易卡&ensp;分期</h2>
        <img _src="//ss.gome.com.cn/item/v1/bt/info/qrcode/A0006592644/pop8012920303/180/180/flag/item/" alt="美易分二维码">
        <p class="p2">扫一扫，开启美好之旅</p>
    </div>
</div>
<div class="mask-meiyifen dn"></div>
<!--美易分二维码弹窗 end-->
<div class="dialog">
    <div id="dialogBox" style="display: none; left: 450px; top: 145px; z-index: 10000; position: fixed;"
         class="dialogBox prevPopBox">
        <div class="close"><a href="javascript:;" id="close">╳</a></div>
        <div id="innerBox">
            <ul class="dialogAdd">
                <li class="up clearfix">
                    <div class="left"><i class="dgIcon" id="dgIcon"></i></div>
                    <div class="right">
                        <div id="dgMsg" class="dgMsg" style="display: none;">添加成功！</div>
                        <div id="dgTxt" class="dgTxt have">您已收藏过该商品！</div>
                        <div id="dgLnk" class="dgLnk"><a href="//g.atguat.com.cn/ec/homeus/cart/cart.jsp" target="_self"
                                                         class="redlink" style="display: none;">去购物车结算&nbsp;&gt;</a> <a
                                href="product_details.html" class="stages">继续购物</a> <a
                                href="#" target="_blank" class="arrange">查看收藏夹&nbsp;&gt;</a>
                        </div>
                    </div>
                </li>
                <li class="collect_dingyue clearfix">
                    <div class="txt"> 订阅商品降价促销提醒</div>
                    <div class="price-area" style="display: list-item;">
                        <em class="pdtl-red">&nbsp;&nbsp;</em>&nbsp;价格低于：
                        <span class="price-box"><i class="">¥</i>
                            <input type="text" id="min-price"></span>
                        <span>时，通知我</span> <span id="error-price"></span></div>
                    <div class="inp"> &nbsp;&nbsp;&nbsp;邮箱地址： <input type="text" id="mail" maxlength="50"><em
                            class="pdtl-red">&nbsp;&nbsp;</em> <span class="error" id="errorMail"><i></i></span></div>
                    <div class="smt"><a href="javascript:;" class="redlinks">订阅提醒</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="reply_wrap dn">
    <!-- <div class="reply_wrap_close">╳</div>
    <div class="reply_wrap_sanjiao"></div> -->
    <p class="reply_title">
        回复<span class="replay_user"> summer：</span>
    </p>
    <p class="reply_input_box"><textarea class="reply_input"></textarea></p>
    <p style="margin-top:10px; text-align: right; margin-bottom: 5px;">
        <span class="reply_shengyuzishu">您还可以输入400字</span> <span class="reply_submit">提交</span>
    </p>
</div>
<input type="hidden" id="loadClickjs">
<div class="wbox" id="gm-other-info">
    <div class="yyflow clearfix dn" id="yyflow">

    </div>
    <div class="showStore clearfix" id="showStore">
        <div class="showStoretit showStoretitfir"><p class="showStorefirst"><i></i>商品描述</p>
        </div>
        <div style="font-size: 14px;color: #5e5e5e;" class="showStoretit showStoreCenter" id="showStoretit">

        </div>
    </div>
    <div class="similar-wrapper">
        <div id="similarDom" maima_param="" class="pushbox similar">
            <h3>其他类似商品</h3>
            <div class="andBuyOut">
                <div class="andBuy-btnout">
                    <a id="tlRight" href="javascript:;"><b></b></a>
                    <a id="tlLeft" href="javascript:;"><s></s></a>
                </div>
                <div class="andBuy-cont">
                    <ul class="pushul clearfix" id="besimilarGoods" style="width: 6696px; position: relative;">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wbox prd_rend" id="pedAssort"></div>
    <div class="dt-main ">
        <div prdid="A0006592644" id="j-loadrlt" class="dt-tab j-dt-tab clearfix hide"></div>
        <div style="clear:both;"></div>
        <div id="prdDesc" class="prdDescOut">
            <div id="gfixed"></div>
            <div id="fixtabox" class="pdtl-tab j-fixtg">
                <ul class="prdtitbox" id="prd_tbox">
                    <li class="cur"><a href="javascript:;">商品详情</a></li>
                    <li><a href="javascript:;" class="pingjia_header submit_element">商品评价 <span class="c00">（353）</span></a>
                    </li>
                </ul>
                <div class="minichart">
                    <a class="redlink" id="addCartLink">加入购物车</a>
                    <a class="online-service" href="javascript:;" customer-service-button-id="80017326"
                       customer-entry="product" skuid="pop8012920303" productid="A0006592644"
                       categoryid="cat15985715_cat15985719_cat15985754" brandid="300032545" title="在线客服"><i
                            class="icon-service"></i>在线客服</a>
                    <div class="mobile-orders-wrapper">
                        <a href="javascript:;" class="mobile-orders"><i></i>手机下单</a>
                        <img gome-src="//ss.gome.com.cn/item/v1/qr/verify/A0006592644/pop8012920303/flag/item"
                             alt="二维码">
                    </div>
                    <div id="floatToCart" class="floatToCart">
                        <div class="cartLeft">
                            <img alt="迪乐贝尔tritan水杯便携夏天塑料大容量水壶男女随手杯子700ml(深蓝)" width="100" height="100"
                                 gome-src="//gfs17.gomein.net.cn/T160dXBCLT1RCvBVdK_130.jpg">
                        </div>
                        <div class="cartRight">
                            <p class="prdname">迪乐贝尔tritan水杯便携夏天塑料大容量水壶男女随手杯子700ml(深蓝)</p>
                            <p id="miniPrice">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pedmainbox" id="prd_data">
                <li class="clearfix " style="display: block;">
                    <div class="sliderleft">
                        <div class="guigecanshu_wrap">

                        </div>
                        <div id="productAdtop" style="width: 756px;margin: 20px auto 60px auto;">
                        </div>
                        <div id="adtop"></div>
                        <div id="detailHtml">


                        </div>
                        <div id="adbottom"></div>
                        <div id="endscroll"></div>
                    </div>
                    <div class="slideright">
                    </div>

                </li>
                <li style="display: none;">
                    <ul class="specbox">
                        <li class="corr">如果您发现商品信息不准确，<a href="javascript:;" class="j-corr">欢迎纠错</a></li>
                        <li class="pedcaption">规格</li>
                        <li class="spectit">主体</li>
                        <li><span class="specinfo">品牌</span><span>迪乐贝尔(DILLER)</span></li>
                        <li><span class="specinfo">包装</span><span>盒装</span></li>
                        <li><span class="specinfo">商品材质</span><span>tritan</span></li>
                        <li><span class="specinfo">产地</span><span>国产</span></li>
                        <li><span class="specinfo">容量</span><span>700ml</span></li>
                        <li><span class="specinfo">是否带手柄</span><span>否</span></li>
                        <li><span class="specinfo">功能</span><span>用具</span></li>
                    </ul>
                    <ul class="pedtextbox pedspaile ped-baozhuangqingdan">
                        <li>
                            <h2>包装清单</h2>
                            <p class="pedtextbox_cont">迪乐贝尔tritan宽口扭扭杯700ml*1个</p>
                        </li>
                        <li class="pedtext_tit">
                            <h2>签收与验货流程</h2>
                            <img class="delivers_process" _src="//img.gomein.net.cn/images/detail/process.jpg"
                                 alt="签收与验货流程">
                            <a href="//help.gome.com.cn/article/229-0-0.html" target="_blank">详情请见签收与验货</a>
                        </li>
                    </ul>
                </li>
                <li style="display: none;"></li>
                <li style="display: none;"></li>
                <li id="helper" style="display: none;">
                    <ul class="pedhelptop">
                        <li><b>【报价】</b>查看<a href="//offer.gome.com.cn/price-cat15985754-300032545.html" target="_blank">迪乐贝尔(DILLER)餐具饮具相关价格表</a>
                        </li>
                        <li><b>【评价】</b>查看<a href="//comment.gome.com.cn/comment-cat15985754-300032545.html"
                                            target="_blank">迪乐贝尔(DILLER)餐具饮具怎么样？</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="bz" class="approbated common-approbated">
            <h2 class="approbated-label">售后保障</h2>
            <ul class="pdtl-shmn">
                <li>
                    <div class="approbated-content-wrapper">
                        <h3>售后内容</h3><i class="icon-approbated-light">icon</i>
                        <ul class="pedtextbox">
                            <li>如有质量问题，支持7天无理由退换货</li>
                        </ul>
                    </div>
                    <div class="approbated-promise">
                        <h3>售后承诺</h3>
                        <div class="TH_ico">
                            <ul>
                                <li class="TH_fine_dt">
                                    <i class="unprofor">保</i>
                                    <p class="TH_fine_h">国美商城服务承诺：</p>
                                    <p class="TH_ico_dd">
                                        国美商城向您保证所售商品均为正品行货，国美商城自营商品自带机打发票，与商品一起寄送(部分商品，需在您收到货物之后，我司为您邮寄)。凭质保证书及国美商城发票，可享受全国联保服务，与您亲临商场选购的商品享受相同的质量保证。
                                        <span>温馨提示：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</span>
                                    </p>
                                </li>
                            </ul>
                            <p class="viewlink">查看&nbsp;<a href="javascript:;" target="_blank">第三方退换货政策</a>
                            </p>
                        </div>
                    </div>
                    <div class="approbated-service">
                        <h3>售后服务</h3>
                        <ul>
                            <li><i class="icon-approbated icon-approbated-bao">icon</i><span>家安保 (延长保修 碎屏保修 意外保修)</span>
                            </li>
                            <li><i class="icon-approbated icon-approbated-weixiu">icon</i><span>专业维修</span></li>
                            <li><i class="icon-approbated icon-approbated-huishou">icon</i><span>家电回收</span></li>
                            <li><i class="icon-approbated icon-approbated-qingxi">icon</i><span>家电清洗</span></li>
                            <li><i class="icon-approbated icon-approbated-anzhuang">icon</i><span>上门安装</span></li>
                        </ul>
                    </div>
                    <div class="price-explanation">
                        <h3>价格说明：</h3>
                        <ul>
                            <li><span>未划线价格：</span>该价格是商品的销售标价，最终成交价格可能会因使用优惠券等原因而发生变化，请以订单结算页面价格为准。</li>
                            <li><span>划线价格：</span>该价格是商品的参考价，可能是商品的厂商指导价、正品零售价、商品吊牌价、品牌专柜价，或者是在国美平台上曾经展示过的销售价等价格,仅供您选购商品时参考。
                            </li>
                            <li><span>其他：</span>1.商品促销信息以商品详情页促销栏目中的信息为准；2.如您发现活动商品售价或促销信息有异常，请购买前先联系销售商咨询。</li>
                        </ul>
                    </div>
                </li>
                <li class="pdtl-s">
                </li>
            </ul>
        </div>
        <div class="detail-section" style="display: none;margin-top: 16px" id="j-comment-section">
            <ul class="ds-hd">
                <li class="cur"><a href="javascript:void(0);">商品评价</a></li>
            </ul>
            <div class="ds-bd active">
                <div class="sorceOut clearfix">
                    <div class="sor">

                    </div>
                </div>
            </div>
            <ul class="commentTab dn" id="j-ctTab"></ul>
            <div class="appraiseType  dn active" all="265" good="264" mid="1" bad="0" validgood="52"
                 style="display: block;">
                <label class="active">
                    <input type="radio" name="appraiseType" value="cmt1" appraisetypetype="all" checked="checked"><span
                        class="submit_element" id="all">全部评价(265)</span></label>
                <label>
                    <input type="radio" name="appraiseType" value="cmt2" appraisetypetype="good"><span
                        id="good">好评(264)</span></label>
                <label>
                    <input type="radio" name="appraiseType" value="cmt3" appraisetypetype="mid"><span
                        id="cent">中评(1)</span></label>
                <label>
                    <input type="radio" name="appraiseType" value="cmt4" appraisetypetype="bad"><span
                        id="diff">差评(0)</span></label>
            </div>
            <div class="cmt-con" style="display: block;">
                <div class="product-comment clearfix">
                    <ul class="ordershow-list" id="singleShow"></ul>
                    <ul class="comment-list dn" id="j-commentsList"></ul>
                    <div class="orderShow oh"></div>
                    <ul class="replyListWrap dn" id="replyListWrap" style="display: block;">

                    </ul>
                    <div class="clearfix">
                        <div id="j-page" class="page">
                            <a href="javascript:;" class="gpprev">上一页<b class="pgbdrs"></b></a>
                            <a href="javascript:;" class="gpnext">下一页<b class="pgbdrsr"></b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--本店好评商品 start-->
    <div class="bd-praise-goods"></div>
</div>
<div class="dt-side imgd">
    <div class="dt-sortbox">
        <h2 class="dt-tit">相关分类</h2>
        <div class="dt-rcbox clearfix" id="clearfix">

        </div>
    </div>
    <div id="paihangbang" class="tonglei_wrap">
        <h2 class="tonglei_wrap_title">热销排行榜</h2>
        <div class="margin010">
            <div class="tonglei_product_wrap" style="min-height: 217px;">
                <ul class="tonglei_ul" style="display: block;">

                </ul>
            </div>
        </div>
    </div>
    <div id="mboxDynamicLeft"></div>
    <div id="buyAndLook"></div>
    <div id="mboxDynamic"></div>
</div>
</div>
<div class="wbox">
    <div id="mboxDynamicFoot" class="guess-enjoy clearfix"></div>
    <!--  竖直排列
    <div class="dt-sortbox rcview">
        <h2 class="dt-titblank"><span class="fl">最近浏览</span></h2>
        <ul id="rangedBrowsedProd" class="clearfix"></ul>
    </div>
    -->
    <!-- 横向排列 -->
    <div class="recently-viewed clearfix" style="margin-top: 50px">
        <h2 class="dt-titblank">
            <span class="fl">最近浏览</span>
            <span id="btn-recently-change" class="btn-refresh">
            <span class="text">换一组</span><i class="i-refresh"></i>
        </span>
        </h2>
        <div id="recently-bd" class="recently-bd">
            <ul id="rangedBrowsedProd">
            </ul>
        </div>
    </div>
</div>
<div class="mbox">
</div>
<div id="productmbox"></div>
<div id="gome-help">
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <ul class="foot_small_zdy_w">
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<div id="gome-bar">
    <div class="gome-aside">
    </div>
    <!-- gome-aside -->
    <div id="gome-aside-app-code">
        <a data-code="1000043134" href="javascript:;" target="_blank">
            <img src="picture/grey.gif" gome-src="//gfs11.gomein.net.cn/T1uBW_B5hv1RCvBVdK.png">
            <strong>moren</strong></a>
    </div>

    <div id="gome-bar-box">
        <div id="gome-bar-member" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="member-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-cart" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="cart-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-coupon" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="coupon-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-favorites" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span><span class="gome-bar-title">我的收藏</span></h3>
            <ul class="favorites-tab">
                <li class="tab-item tab-item-goods selected">商品</li>
                <li class="tab-item tab-item-shop">店铺</li>
                <li class="tab-item tab-item-brand">品牌</li>
            </ul>
            <div id="favorites-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="picture/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>

                <div id="favorites-main-scrool" class="favorites-main">
                    <div class="main-item main-item-goods">
                    </div>
                    <div class="main-item main-item-shop">
                    </div>
                    <div class="main-item main-item-brand">
                    </div>
                </div>
            </div>
        </div>
        <!-- gome-bar-coupon -->
    </div>
    <!-- gome-bar-box -->
</div>
<!--收藏信息弹出时背后阴影部分-->
<div id="popLock"
     style="opacity: 0.15; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); z-index: 9999; display: none;"></div>

<script src="js/product.js"></script>
<style>
    .imgd {
        position: absolute;
        top: 1098px;
        left: 160px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#prd_tbox li").click(function () {
            $(this).addClass("cur").siblings().removeClass("cur");
            if ($("#j-comment-section").is(':hidden')) {
                $("#j-comment-section").show();
                $("#bz").hide();
                $("#prd_data").hide();
            } else {
                $("#j-comment-section").hide();
                $("#bz").show();
                $("#prd_data").show();
            }
        });
        $("a#a").attr("href", "car.html");
        //上下加减
        $(".j-gACbtnA").click(function () {
            var num = $("#enterQty").val();
            if (num < 100) {
                $("#enterQty").val(parseInt(num) + 1);
            }
        });
        $(".j-gACbtn").click(function () {
            var num = $("#enterQty").val();
            if (num > 1) {
                $("#enterQty").val(parseInt(num) - 1);
            }
        });
    });
</script>

</body>
</html>