<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CollectionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Collections">
        <id column="collection_id" property="id" />
        <result column="user_id" property="uid" />
        <result column="goods_id" property="goodsId" />
        <result column="collection_time" property="ctime" />
    </resultMap>

</mapper>
