<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Collections">
        <id column="collection_id" property="collection_id" />
        <result column="user_id" property="user_id" />
        <result column="goods_id" property="goods_id" />
        <result column="collection_time" property="collection_time" />
    </resultMap>

</mapper>
