<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Coupon">
        <id column="coupon_id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="coupon_type" property="type" />
        <result column="coupon_name" property="couponName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="coupon_money" property="couponMoney" />
        <result column="coupon_status" property="status" />
        <result column="coupon_remarks" property="remarks" />
        <result column="full_money" property="fullMoney" />
        <result column="coupon_count" property="couponCount" />
        <result column="coupon_limit" property="couponLimit" />
        <result column="coupon_type" property="cType" />
    </resultMap>

    <select id="couponFindAll" parameterType="map" resultType="map">
        SELECT * FROM coupon
        <where>
            <if test="name!='null' and name!='' ">
                and coupon_name LIKE concat('%',#{name},'%')
            </if>
            <if test="start!='null' and start!='' ">
                and STR_TO_DATE(#{start}, '%Y-%m-%d %H') =start_time
            </if>
            <if test="end!='null' and end!='' ">
                and STR_TO_DATE(#{end}, '%Y-%m-%d %H') =end_time
            </if>
            <if test="end!='null' and end!='' and  start!='null' and start!='' ">
                and STR_TO_DATE(#{start}, '%Y-%m-%d %H') &gt;=start_time AND STR_TO_DATE(#{end}, '%Y-%m-%d %H') &lt;=end_time
            </if>
        </where>
    </select>
</mapper>
