<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Coupon">
        <id column="coupon_id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="coupon_type" property="type" />
        <result column="coupon_name" property="couponName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="coupon_money" property="couponMoney" />
        <result column="coupon_status" property="status" />
        <result column="coupon_remarks" property="remarks" />
        <result column="full_money" property="fullMoney" />
        <result column="coupon_count" property="couponCount" />
        <result column="coupon_scope" property="couponScope" />
        <result column="coupon_limit" property="couponLimit" />
    </resultMap>

</mapper>
