<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Coupon">
        <id column="coupon_id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="coupon_type" property="type" />
        <result column="coupon_name" property="couponName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="coupon_money" property="couponMoney" />
        <result column="coupon_status" property="status" />
        <result column="coupon_remarks" property="remarks" />
        <result column="full_money" property="fullMoney" />
        <result column="coupon_count" property="couponCount" />
        <result column="coupon_limit" property="couponLimit" />
        <result column="coupon_type" property="cType" />
    </resultMap>

    <select id="couponFindAll" parameterType="map" resultType="map">
        SELECT * FROM coupon
        <where>
            <if test="name!='null' and name!='' ">
                and coupon_name LIKE concat('%',#{name},'%')
            </if>
            <if test="start!='null' and start!='' ">
                and STR_TO_DATE(#{start}, '%Y-%m-%d %H') =start_time
            </if>
            <if test="end!='null' and end!='' ">
                and STR_TO_DATE(#{end}, '%Y-%m-%d %H') =end_time
            </if>
            <if test="end!='null' and end!='' and  start!='null' and start!='' ">
                and STR_TO_DATE(#{start}, '%Y-%m-%d %H') &gt;=start_time AND STR_TO_DATE(#{end}, '%Y-%m-%d %H') &lt;=end_time
            </if>
        </where>
    </select>

    <select id="couponFindAllQian" parameterType="map" resultType="map">
        SELECT *,(SELECT  COUNT(0) FROM  coupon_receive r WHERE  r.`coupon_id` = p.coupon_id ) AS count FROM category c
        INNER JOIN coupon p ON c.category_id = p.category_id
        <where>
            <if test="time!=null and time!='' and time!='null'">
                and TO_DAYS(p.end_time)-TO_DAYS(NOW())&lt;=2
            </if>
        </where>
        <if test="more!=null and more!=''and more!='null' ">
            ORDER BY coupon_money DESC
        </if>
    </select>

    <select id="userCouponList" parameterType="map" resultType="map">
        SELECT c.*,g.category_name cname FROM coupon c
        INNER JOIN coupon_receive r ON c.coupon_id = r.coupon_id
        INNER JOIN category g ON c.category_id = g.category_id
        <where>
            and r.user_id = #{uid}
            <if test="status!=null and status!='null' and status!='' ">
                AND r.status= #{status}
            </if>
        </where>
    </select>

    <select id="userCouponCount" resultType="int">
        select count(0) from coupon c
        inner join coupon_receive r
        on c.coupon_id = r.coupon_id
        where c.coupon_type= #{type} and r.user_id=#{uid}
    </select>
</mapper>
