<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.EvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Evaluate">
        <id column="evaluate_id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="evaluate_content" property="content" />
        <result column="order_id" property="oid"/>
        <result column="evaluate_star" property="star" />
        <result column="evaluate_imgs" property="imgs" />
        <result column="evaluate_time" property="time" />
        <result column="evaluate_state" property="state" />
    </resultMap>

    <select id="evaluateFindAll" resultType="map" parameterType="map">
        SELECT o.order_no AS num,u.user_name AS name,e.evaluate_content AS content,e.evaluate_time AS etime,g.`goods_id` AS gid,g.`goods_main_img` img FROM evaluate e
        INNER JOIN users u ON e.user_id = u.user_id
        INNER JOIN goods g ON g.`goods_id` = e.goods_id
        INNER JOIN orders o ON o.order_id = e.order_id
        <where>
            <if test=" name!= 'null' and name!= '' ">
                and u.user_name LIKE concat('%',#{name},'%')
            </if>
            <if test=" num!= 'null' and num!= '' ">
                and o.order_no  LIKE concat('%',#{num},'%')
            </if>
            <if test=" content!= 'null' and content!= '' ">
                and e.evaluate_content LIKE concat('%',#{content},'%')
            </if>
        </where>
    </select>

    <select id="goodsEvaluate" resultType="map">
        SELECT e.*,u.user_name,u.user_headimg,d.grade_name FROM evaluate e
        INNER JOIN goods g ON g.`goods_id` = e.goods_id
        INNER JOIN users u ON u.user_id = e.user_id
        INNER JOIN growup r ON u.user_id = r.user_id
        INNER JOIN grade d ON r.growup_sum BETWEEN d.low AND high
        WHERE g.`goods_id` = #{gid} AND  e.evaluate_state = 1
    </select>

    <!--根据用户查询评价商品信息(可以是未评价0 评价1)-->
    <select id="evaluateInfo" parameterType="map" resultType="map">
        SELECT e.`evaluate_star`,e.`evaluate_id`,
               e.`evaluate_content`,
               e.`evaluate_time`,
               g.`goods_main_img`,
               g.`goods_id`,
               g.`goods_title`,
               o.`pay_date`,o.`order_no`
                ,o.`order_id`,e.`user_id`
        FROM evaluate e
                 INNER JOIN goods g ON e.`goods_id` = g.`goods_id`
                 INNER JOIN orders o ON e.`order_id` = o.order_id
        WHERE e.user_id = #{user_id}
          AND e.evaluate_state = #{evaluate_state}
    </select>
</mapper>
