<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Goods">
        <id column="goods_id" property="id"/>
        <result column="brand_id" property="bid"/>
        <result column="goods_title" property="title"/>
        <result column="goods_sub_title" property="subTitle"/>
        <result column="goods_main_img" property="mainImg"/>
        <result column="goods_des_img" property="desImg"/>
        <result column="goods_des" property="des"/>
        <result column="goods_price" property="price"/>
        <result column="goods_stock" property="stock"/>
        <result column="goods_state" property="state"/>
        <result column="goods_seckill" property="seckill"/>
        <result column="goods_create_time" property="time"/>
    </resultMap>


    <select id="findGoods" resultType="map">
        SELECT g.*,b.`brand_name`
        FROM goods g
        INNER JOIN brand b ON g.`brand_id` = b.`brand_id`
        INNER JOIN category c ON c.`category_id` = b.`category_id`
        <where>
            <if test="cname != 'null' and cname != '' ">
                and c.`category_name` = #{cname}
            </if>
            <if test="title != 'null' and title != '' ">
                AND g.`goods_title` LIKE concat('%',#{title},'%')
            </if>
        </where>
        order by goods_state desc
    </select>

    <insert id="addGoods" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="goods_id">
        INSERT INTO goods(brand_id, goods_title, goods_sub_title, goods_main_img, goods_des_img, goods_des, goods_price,
                          goods_stock, goods_state, goods_seckill)
        VALUES (#{bid}, #{title}, #{subTitle}, #{mainImg}, #{desImg}, #{des}, #{price}, #{stock}, #{state}, #{seckill})
    </insert>


    <update id="upStateGoods" parameterType="map">
        UPDATE goods
        SET goods_state = #{state}
        WHERE goods_id = #{gid}
    </update>

    <select id="findGoodsByCategoryName" resultMap="BaseResultMap" parameterType="list">
        SELECT * FROM goods g INNER JOIN (SELECT goods_id,SUM(detail_num) AS num FROM order_detail
        GROUP BY goods_id ORDER BY num DESC
        ) o ON g.`goods_id` = o.goods_id
        INNER JOIN brand b ON b.`brand_id` = g.`brand_id`
        WHERE b.`category_id` IN (SELECT category_id FROM category WHERE category_parent_id IN
        (
        SELECT category_id FROM category
        WHERE
        <foreach item="item" index="index" collection="list" open="" separator=" OR " close="">
            category_name =#{item}
        </foreach>
        ))
        LIMIT 10
    </select>


    <select id="findGoodsNewByCategoryName" resultMap="BaseResultMap">
        SELECT g.*
        FROM goods g
        INNER JOIN brand b ON b.`brand_id` = g.`brand_id`
        WHERE b.`category_id` IN
        (SELECT category_id FROM category WHERE category_parent_id IN
        (SELECT category_id FROM category
        WHERE
        <foreach item="item" index="index" collection="list" open="" separator=" OR " close="">
            category_name =#{item}
        </foreach>
        ))
        ORDER BY g.`goods_create_time` DESC LIMIT 10
    </select>

    <select id="ListfindGoodsLowPrice" resultMap="BaseResultMap">
        SELECT g.*
        FROM goods g
        INNER JOIN brand b ON b.`brand_id` = g.`brand_id`
        WHERE b.`category_id` IN
        (SELECT category_id FROM category WHERE category_parent_id IN
        (SELECT category_id FROM category
        WHERE
        <foreach item="item" index="index" collection="list" open="" separator=" OR " close="">
            category_name =#{item}
        </foreach>
        ))
        ORDER BY g.`goods_price` ASC LIMIT 10
    </select>
</mapper>
