<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.StreetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.Street">
        <id column="street_id" property="id" />
        <result column="district_id" property="did" />
        <result column="street_name" property="sname" />
    </resultMap>
    <select id="findStreetByArea" resultMap="BaseResultMap" parameterType="Integer">
        SELECT * FROM `street` WHERE `district_id` = #{district_id}
    </select>

    <select id="findNameByStreetId" resultType="string" parameterType="Integer">
        SELECT street_name FROM `street` WHERE street_id = #{street_id};
    </select>
</mapper>
