<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.Vip_goodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cssl.entity.VipGoods">
        <id column="vip_goods_id" property="id" />
        <result column="grade_id" property="gradeId" />
        <result column="vip_time" property="vipTime" />
        <result column="goods_id" property="goodsId" />
    </resultMap>

    <select id="vipGoodsFindAll" resultType="map" parameterType="map">
        SELECT g.*,b.`brand_name`,d.grade_name,d.discount_money,d.grade_id
        FROM goods g
        INNER JOIN brand b ON g.`brand_id` = b.`brand_id`
        INNER JOIN category c ON c.`category_id` = b.`category_id`
        INNER JOIN vip_goods v ON v.goods_id = g.`goods_id`
        INNER JOIN grade d ON d.grade_id = v.grade_id
        <where>
            <if test="cname != 'null' and cname != '' ">
                and c.`category_name` = #{cname}
            </if>
            <if test="title != 'null' and title != '' ">
                AND g.`goods_title` LIKE concat('%',#{title},'%')
            </if>
            <if test="gid != null and gid != '' ">
                AND d.grade_id = #{gid}
            </if>
        </where>
        ORDER BY v.vip_time DESC
    </select>

    <select id="vipSaleGoods" resultType="map" parameterType="map">
        SELECT g.*,b.`brand_name`,d.grade_name,d.discount_money,d.grade_id
        FROM goods g
        INNER JOIN (
        SELECT goods_id,SUM(detail_num) AS num,order_id AS oid FROM order_detail
        GROUP BY goods_id
        ) o ON g.`goods_id` = o.goods_id
        INNER JOIN brand b ON g.`brand_id` = b.`brand_id`
        INNER JOIN category c ON c.`category_id` = b.`category_id`
        INNER JOIN vip_goods v ON v.goods_id = g.`goods_id`
        INNER JOIN grade d ON d.grade_id = v.grade_id
        <where>
            <if test="gid != null and gid != '' ">
                d.grade_id = #{gid}
            </if>
        </where>

    </select>

    <select id="vipGoodsFindAllqian" resultType="map" parameterType="map">
        SELECT g.*,b.`brand_name`,d.grade_name,d.discount_money,d.grade_id
        FROM goods g
        INNER JOIN brand b ON g.`brand_id` = b.`brand_id`
        INNER JOIN category c ON c.`category_id` = b.`category_id`
        INNER JOIN vip_goods v ON v.goods_id = g.`goods_id`
        INNER JOIN grade d ON d.grade_id = v.grade_id
        <where>
            <if test="gid != null and gid != '' ">
                d.grade_id = #{gid}
            </if>
        </where>
    </select>

</mapper>
